<a href="https://colab.research.google.com/github/narcisonascimento/pyspark-estudos/blob/main/pyspark_estudos_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pyspark Estudos <br>
Fundamentos do Pyspark <br>
Professor: Renan Marques Rodrigues <br>
Youtube: DataDev Academy | https://www.youtube.com/@datadevacademy <br>
Dataset: https://www.kaggle.com/datasets/djamshed/fifa-world-cup-2018-players

# Aula 1

# Instalando bibliotecas

In [5]:
# instalando pyspark
# !pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=62e24b48750f377eab079aba08fbe5fd6338e842b939149c7900c34b609c60bf
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [6]:
# pip freeze

# Importando Bibliotecas

In [15]:
import os
import sys

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

from google.colab import drive
drive.mount('/content/drive')

# os.environ['PYSPARK_PYTHON'] = sys.executable
# os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Criar / iniciar Sessão PySpark

In [8]:
spark = (
    SparkSession.builder
    .master('local')
    .appName('pyspark-estudos')
    .getOrCreate()
)

# Criar DF / ler arquivo

# Verificar tipos de colunas

In [18]:
# df = spark.read.csv('/content/wc2018-players.csv', header=True, inferSchema=True)
df = spark.read.csv('/content/drive/MyDrive/Cursos - Certificados/PySpark - Curso/arquivos/wc2018-players.csv', header=True, inferSchema=True)
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [20]:
df.printSchema()

root
 |-- Team: string (nullable = true)
 |-- #: integer (nullable = true)
 |-- Pos.: string (nullable = true)
 |-- FIFA Popular Name: string (nullable = true)
 |-- Birth Date: string (nullable = true)
 |-- Shirt Name: string (nullable = true)
 |-- Club: string (nullable = true)
 |-- Height: integer (nullable = true)
 |-- Weight: integer (nullable = true)

# Verificar dados nulos

In [21]:
# transformando em Pandas e efetuando a soma. Aqui só funciona com poucas linhas no dataset
df.toPandas().isna().sum()

Team                 0
#                    0
Pos.                 0
FIFA Popular Name    0
Birth Date           0
Shirt Name           0
Club                 0
Height               0
Weight               0
dtype: int64

In [22]:
# verificando as colunas existentes
df.columns

['Team',
 '#',
 'Pos.',
 'FIFA Popular Name',
 'Birth Date',
 'Shirt Name',
 'Club',
 'Height',
 'Weight']

In [23]:
# No PySpark deve ser feito um looping for, esse looping demora dependendo do tamanho do dataset
# Este for apresentará erro por conta do nome da coluna onde Pos. tem um ponto.
for coluna in df.columns:
    print(coluna, df.filter(df[coluna].isNull()).count())

Team 0
# 0

AnalysisException: Syntax error in attribute name: Pos..

# Renomear colunas <br>
PySpark não aceita pontos no nome e também deve ter atenção com espaço entre palavras.

In [24]:
df = df.withColumnRenamed('Team', 'selecao')\
.withColumnRenamed('#', 'numero')\
.withColumnRenamed('Pos.', 'posicao')\
.withColumnRenamed('FIFA Popular Name', 'nome_fifa')\
.withColumnRenamed('Birth Date', 'data_nasc')\
.withColumnRenamed('Shirt Name', 'nome_camisa')\
.withColumnRenamed('Club', 'time')\
.withColumnRenamed('Height', 'altura')\
.withColumnRenamed('Weight', 'peso')

In [25]:
df.columns

['selecao',
 'numero',
 'posicao',
 'nome_fifa',
 'data_nasc',
 'nome_camisa',
 'time',
 'altura',
 'peso']

In [26]:
# após as devidas correções é possível efetuar o looping no dataset

for coluna in df.columns:
    print(coluna, df.filter(df[coluna].isNull()).count())

selecao 0
numero 0
posicao 0
nome_fifa 0
data_nasc 0
nome_camisa 0
time 0
altura 0
peso 0

# Selecionar colunas

In [27]:
# diferente do Pandas o PySpark altera o nome da coluna original quando escrita de forma diferente (caps lock etc).
df.select('selecao', 'nome_fifa').show(5)

+---------+------------------+
|  selecao|         nome_fifa|
+---------+------------------+
|Argentina|TAGLIAFICO Nicolas|
|Argentina|    PAVON Cristian|
|Argentina|    LANZINI Manuel|
|Argentina|    SALVIO Eduardo|
|Argentina|      MESSI Lionel|
+---------+------------------+
only showing top 5 rows

In [28]:
df.select('SELECAO', 'NOME_FIFA').show(5)

+---------+------------------+
|  SELECAO|         NOME_FIFA|
+---------+------------------+
|Argentina|TAGLIAFICO Nicolas|
|Argentina|    PAVON Cristian|
|Argentina|    LANZINI Manuel|
|Argentina|    SALVIO Eduardo|
|Argentina|      MESSI Lionel|
+---------+------------------+
only showing top 5 rows

Pode selecionar colunas com o 'col'

In [29]:
df.select(col('selecao'), col('nome_camisa'), col('altura')).show(5)

+---------+-----------+------+
|  selecao|nome_camisa|altura|
+---------+-----------+------+
|Argentina| TAGLIAFICO|   169|
|Argentina|      PAVÓN|   169|
|Argentina|    LANZINI|   167|
|Argentina|     SALVIO|   167|
|Argentina|      MESSI|   170|
+---------+-----------+------+
only showing top 5 rows

ou pode selecioar com o dataframe['nome_coluna']

In [30]:
df.select(df['selecao'], df['nome_camisa'], df['altura']).show(5)

+---------+-----------+------+
|  selecao|nome_camisa|altura|
+---------+-----------+------+
|Argentina| TAGLIAFICO|   169|
|Argentina|      PAVÓN|   169|
|Argentina|    LANZINI|   167|
|Argentina|     SALVIO|   167|
|Argentina|      MESSI|   170|
+---------+-----------+------+
only showing top 5 rows

# Selecionar Colunas com ALIAS

In [31]:
df.select(col('selecao').alias('time')).show(5)

+---------+
|     time|
+---------+
|Argentina|
|Argentina|
|Argentina|
|Argentina|
|Argentina|
+---------+
only showing top 5 rows

In [32]:
# utilizando o split para separar as colunas
df.select('selecao nome_fifa altura'.split()).show(5)

+---------+------------------+------+
|  selecao|         nome_fifa|altura|
+---------+------------------+------+
|Argentina|TAGLIAFICO Nicolas|   169|
|Argentina|    PAVON Cristian|   169|
|Argentina|    LANZINI Manuel|   167|
|Argentina|    SALVIO Eduardo|   167|
|Argentina|      MESSI Lionel|   170|
+---------+------------------+------+
only showing top 5 rows

# Organizar o Select

In [33]:
df.select('nome_camisa', 'altura', 'peso').show(5)

+-----------+------+----+
|nome_camisa|altura|peso|
+-----------+------+----+
| TAGLIAFICO|   169|  65|
|      PAVÓN|   169|  65|
|    LANZINI|   167|  66|
|     SALVIO|   167|  69|
|      MESSI|   170|  72|
+-----------+------+----+
only showing top 5 rows

# Filtrar o dataframe

In [34]:
df.filter('selecao = "Brazil"').show(10)

+-------+------+-------+-----------------+----------+-----------+--------------------+------+----+
|selecao|numero|posicao|        nome_fifa| data_nasc|nome_camisa|                time|altura|peso|
+-------+------+-------+-----------------+----------+-----------+--------------------+------+----+
| Brazil|    18|     MF|             FRED|05.03.1993|       FRED|FC Shakhtar Donet...|   169|  64|
| Brazil|    21|     FW|           TAISON|13.01.1988|     TAISON|FC Shakhtar Donet...|   172|  64|
| Brazil|    17|     MF|      FERNANDINHO|04.05.1985|FERNANDINHO|Manchester City F...|   179|  67|
| Brazil|    22|     DF|           FAGNER|11.06.1989|     FAGNER|SC Corinthians (BRA)|   168|  67|
| Brazil|    10|     FW|           NEYMAR|05.02.1992|  NEYMAR JR|Paris Saint-Germa...|   175|  68|
| Brazil|    11|     MF|PHILIPPE COUTINHO|12.06.1992|P. COUTINHO|  FC Barcelona (ESP)|   172|  68|
| Brazil|     7|     FW|    DOUGLAS COSTA|14.09.1990|   D. COSTA|   Juventus FC (ITA)|   182|  70|
| Brazil|     6|     DF|      FILIPE LUIS|09.08.1985|FILIPE LUIS|Atletico Madrid (...|   182|  73|
| Brazil|     9|     FW|    GABRIEL JESUS|03.04.1997|   G. JESUS|Manchester City F...|   175|  73|
| Brazil|    13|     DF|       MARQUINHOS|14.05.1994| MARQUINHOS|Paris Saint-Germa...|   183|  75|
+-------+------+-------+-----------------+----------+-----------+--------------------+------+----+
only showing top 10 rows

In [35]:
# caso o nome da coluna possua espaço, não pode fazer o filter direto como abaixo, deve chamar a função col
df.filter('nome_camisa == "FRED"').show()

+-------+------+-------+---------+----------+-----------+--------------------+------+----+
|selecao|numero|posicao|nome_fifa| data_nasc|nome_camisa|                time|altura|peso|
+-------+------+-------+---------+----------+-----------+--------------------+------+----+
| Brazil|    18|     MF|     FRED|05.03.1993|       FRED|FC Shakhtar Donet...|   169|  64|
+-------+------+-------+---------+----------+-----------+--------------------+------+----+

In [36]:
df.filter(col('nome_camisa') == 'FRED').show()

+-------+------+-------+---------+----------+-----------+--------------------+------+----+
|selecao|numero|posicao|nome_fifa| data_nasc|nome_camisa|                time|altura|peso|
+-------+------+-------+---------+----------+-----------+--------------------+------+----+
| Brazil|    18|     MF|     FRED|05.03.1993|       FRED|FC Shakhtar Donet...|   169|  64|
+-------+------+-------+---------+----------+-----------+--------------------+------+----+

# Filtrar DF com 2 condições (and/&)

In [37]:
df.filter((col('selecao') == "England") & (col('altura') >= 180) & (col('peso') >= 82)).show()

+-------+------+-------+----------------+----------+-----------+--------------------+------+----+
|selecao|numero|posicao|       nome_fifa| data_nasc|nome_camisa|                time|altura|peso|
+-------+------+-------+----------------+----------+-----------+--------------------+------+----+
|England|     8|     MF|HENDERSON Jordan|17.06.1990|  HENDERSON|  Liverpool FC (ENG)|   183|  82|
|England|    15|     DF|     CAHILL Gary|19.12.1985|     CAHILL|    Chelsea FC (ENG)|   191|  85|
|England|     4|     MF|       DIER Eric|15.01.1994|       DIER|Tottenham Hotspur...|   188|  90|
|England|    13|     GK|    BUTLAND Jack|10.03.1993|    BUTLAND| Stoke City FC (ENG)|   196|  96|
|England|     6|     DF|   MAGUIRE Harry|05.03.1993|    MAGUIRE|Leicester City FC...|   193|  98|
|England|     9|     FW|      KANE Harry|28.07.1993|       KANE|Tottenham Hotspur...|   188|  98|
+-------+------+-------+----------------+----------+-----------+--------------------+------+----+

In [38]:
df.filter('selecao = "Brazil"').filter(col('numero') > 15).show()

+-------+------+-------+---------------+----------+-----------+--------------------+------+----+
|selecao|numero|posicao|      nome_fifa| data_nasc|nome_camisa|                time|altura|peso|
+-------+------+-------+---------------+----------+-----------+--------------------+------+----+
| Brazil|    18|     MF|           FRED|05.03.1993|       FRED|FC Shakhtar Donet...|   169|  64|
| Brazil|    21|     FW|         TAISON|13.01.1988|     TAISON|FC Shakhtar Donet...|   172|  64|
| Brazil|    17|     MF|    FERNANDINHO|04.05.1985|FERNANDINHO|Manchester City F...|   179|  67|
| Brazil|    22|     DF|         FAGNER|11.06.1989|     FAGNER|SC Corinthians (BRA)|   168|  67|
| Brazil|    20|     FW|ROBERTO FIRMINO|02.10.1991|    FIRMINO|  Liverpool FC (ENG)|   181|  76|
| Brazil|    19|     MF|        WILLIAN|09.08.1988|    WILLIAN|    Chelsea FC (ENG)|   175|  77|
| Brazil|    23|     GK|        EDERSON|17.08.1993|    EDERSON|Manchester City F...|   188|  86|
| Brazil|    16|     GK|         CASSIO|06.06.1987|     CASSIO|SC Corinthians (BRA)|   195|  92|
+-------+------+-------+---------------+----------+-----------+--------------------+------+----+

# Filter df com 2 condições (or/|)

In [39]:
df.filter((col('nome_fifa') == 'TAISON') | (col('nome_fifa') == 'MESSI Lionel')).show()

+---------+------+-------+------------+----------+-----------+--------------------+------+----+
|  selecao|numero|posicao|   nome_fifa| data_nasc|nome_camisa|                time|altura|peso|
+---------+------+-------+------------+----------+-----------+--------------------+------+----+
|Argentina|    10|     FW|MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|
|   Brazil|    21|     FW|      TAISON|13.01.1988|     TAISON|FC Shakhtar Donet...|   172|  64|
+---------+------+-------+------------+----------+-----------+--------------------+------+----+

# Filter df combinando & e | (and e Or)

In [40]:
df.filter((col('selecao') == 'Brazil') & (col('posicao') == 'DF') | (col('nome_fifa') == 'MESSI Lionel')).show()

+---------+------+-------+-------------+----------+-----------+--------------------+------+----+
|  selecao|numero|posicao|    nome_fifa| data_nasc|nome_camisa|                time|altura|peso|
+---------+------+-------+-------------+----------+-----------+--------------------+------+----+
|Argentina|    10|     FW| MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|
|   Brazil|    22|     DF|       FAGNER|11.06.1989|     FAGNER|SC Corinthians (BRA)|   168|  67|
|   Brazil|     6|     DF|  FILIPE LUIS|09.08.1985|FILIPE LUIS|Atletico Madrid (...|   182|  73|
|   Brazil|    13|     DF|   MARQUINHOS|14.05.1994| MARQUINHOS|Paris Saint-Germa...|   183|  75|
|   Brazil|     3|     DF|      MIRANDA|07.09.1984|    MIRANDA|FC Internazionale...|   186|  78|
|   Brazil|    14|     DF|       DANILO|15.07.1991|     DANILO|Manchester City F...|   184|  78|
|   Brazil|     2|     DF| THIAGO SILVA|22.09.1984|   T. SILVA|Paris Saint-Germa...|   183|  79|
|   Brazil|    12|     DF|      MARCELO|12.05.1988|    MARCELO|Real Madrid CF (ESP)|   174|  80|
|   Brazil|     4|     DF|PEDRO GEROMEL|21.09.1985|    GEROMEL|   Grêmio FBPA (BRA)|   190|  84|
+---------+------+-------+-------------+----------+-----------+--------------------+------+----+

In [41]:
df.filter((col('selecao') == 'Brazil') & (col('posicao') == 'DF') | (col('altura') == 199) & (col('selecao') == 'Belgium')).show()

+-------+------+-------+----------------+----------+-----------+--------------------+------+----+
|selecao|numero|posicao|       nome_fifa| data_nasc|nome_camisa|                time|altura|peso|
+-------+------+-------+----------------+----------+-----------+--------------------+------+----+
|Belgium|     1|     GK|COURTOIS Thibaut|11.05.1992|   COURTOIS|    Chelsea FC (ENG)|   199|  91|
| Brazil|    22|     DF|          FAGNER|11.06.1989|     FAGNER|SC Corinthians (BRA)|   168|  67|
| Brazil|     6|     DF|     FILIPE LUIS|09.08.1985|FILIPE LUIS|Atletico Madrid (...|   182|  73|
| Brazil|    13|     DF|      MARQUINHOS|14.05.1994| MARQUINHOS|Paris Saint-Germa...|   183|  75|
| Brazil|     3|     DF|         MIRANDA|07.09.1984|    MIRANDA|FC Internazionale...|   186|  78|
| Brazil|    14|     DF|          DANILO|15.07.1991|     DANILO|Manchester City F...|   184|  78|
| Brazil|     2|     DF|    THIAGO SILVA|22.09.1984|   T. SILVA|Paris Saint-Germa...|   183|  79|
| Brazil|    12|     DF|         MARCELO|12.05.1988|    MARCELO|Real Madrid CF (ESP)|   174|  80|
| Brazil|     4|     DF|   PEDRO GEROMEL|21.09.1985|    GEROMEL|   Grêmio FBPA (BRA)|   190|  84|
+-------+------+-------+----------------+----------+-----------+--------------------+------+----+

# Criar novas colunas usando a função lit

In [42]:
df.withColumn('worldcup', lit(2018)).show(5)

+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+
|  selecao|numero|posicao|         nome_fifa| data_nasc|nome_camisa|                time|altura|peso|worldcup|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    2018|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|  65|    2018|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|  66|    2018|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|  69|    2018|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|    2018|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+
only showing top 5 rows

In [43]:
df.withColumn('coluna_nova', lit(col('altura') - col('peso'))).show(5)

+---------+------+-------+------------------+----------+-----------+--------------------+------+----+-----------+
|  selecao|numero|posicao|         nome_fifa| data_nasc|nome_camisa|                time|altura|peso|coluna_nova|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+-----------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|        104|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|  65|        104|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|  66|        101|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|  69|         98|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|         98|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+-----------+
only showing top 5 rows

# Criar coluna condicional usando função substring

In [44]:
df.withColumn('sub', substring('selecao', 1, 3)).show(5)

+---------+------+-------+------------------+----------+-----------+--------------------+------+----+---+
|  selecao|numero|posicao|         nome_fifa| data_nasc|nome_camisa|                time|altura|peso|sub|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+---+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|Arg|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|  65|Arg|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|  66|Arg|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|  69|Arg|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|Arg|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+---+
only showing top 5 rows

In [45]:
df = df.withColumn('ano_nasc', substring('data_nasc', -4, 4))

# Criar coluna condicional usando concat / concat_ws

In [46]:
df.withColumn('concat', concat('selecao', col('nome_fifa'))).show(5)

+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------------------+
|  selecao|numero|posicao|         nome_fifa| data_nasc|nome_camisa|                time|altura|peso|ano_nasc|              concat|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|ArgentinaTAGLIAFI...|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|ArgentinaPAVON Cr...|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|  66|    1993|ArgentinaLANZINI ...|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|ArgentinaSALVIO E...|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|ArgentinaMESSI Li...|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------------------+
only showing top 5 rows

In [47]:
df.withColumn('separador', concat_ws(' - ', 'selecao', 'numero', 'posicao')).show()

+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+-------------------+
|  selecao|numero|posicao|         nome_fifa| data_nasc|nome_camisa|                time|altura|peso|ano_nasc|          separador|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+-------------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992| Argentina - 3 - DF|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|Argentina - 22 - MF|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|  66|    1993|Argentina - 15 - MF|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|Argentina - 18 - DF|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|Argentina - 10 - FW|
|Argentina|     4|     DF|  ANSALDI Cristian|20.09.1986|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986| Argentina - 4 - DF|
|Argentina|     5|     MF|      BIGLIA Lucas|30.01.1986|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986| Argentina - 5 - MF|
|Argentina|     7|     MF|       BANEGA Ever|29.06.1988|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988| Argentina - 7 - MF|
|Argentina|    14|     DF| MASCHERANO Javier|08.06.1984| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|Argentina - 14 - DF|
|Argentina|    21|     FW|      DYBALA Paulo|15.11.1993|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|Argentina - 21 - FW|
|Argentina|    19|     FW|     AGUERO Sergio|02.06.1988|     AGÜERO|Manchester City F...|   172|  74|    1988|Argentina - 19 - FW|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|10.12.1987|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987| Argentina - 9 - FW|
|Argentina|    11|     MF|    DI MARIA Angel|14.02.1988|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|Argentina - 11 - MF|
|Argentina|    20|     MF|  LO CELSO Giovani|09.04.1996|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|Argentina - 20 - MF|
|Argentina|    13|     MF|  MEZA Maximiliano|15.12.1992|       MEZA|CA Independiente ...|   180|  76|    1992|Argentina - 13 - MF|
|Argentina|     8|     DF|      ACUNA Marcos|28.10.1991|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991| Argentina - 8 - DF|
|Argentina|    23|     GK|CABALLERO Wilfredo|28.09.1981|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|Argentina - 23 - GK|
|Argentina|     2|     DF|   MERCADO Gabriel|18.03.1987|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987| Argentina - 2 - DF|
|Argentina|    17|     DF|  OTAMENDI Nicolas|12.02.1988|   OTAMENDI|Manchester City F...|   181|  81|    1988|Argentina - 17 - DF|
|Argentina|    16|     DF|       ROJO Marcos|20.03.1990|       ROJO|Manchester United...|   189|  82|    1990|Argentina - 16 - DF|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+-------------------+
only showing top 20 rows

# Alterar o tipo de coluna

In [48]:
df.printSchema()

root
 |-- selecao: string (nullable = true)
 |-- numero: integer (nullable = true)
 |-- posicao: string (nullable = true)
 |-- nome_fifa: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- nome_camisa: string (nullable = true)
 |-- time: string (nullable = true)
 |-- altura: integer (nullable = true)
 |-- peso: integer (nullable = true)
 |-- ano_nasc: string (nullable = true)

In [49]:
df = df.withColumn('ano_nasc', col('ano_nasc').cast(IntegerType()))

In [50]:
df.printSchema()

root
 |-- selecao: string (nullable = true)
 |-- numero: integer (nullable = true)
 |-- posicao: string (nullable = true)
 |-- nome_fifa: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- nome_camisa: string (nullable = true)
 |-- time: string (nullable = true)
 |-- altura: integer (nullable = true)
 |-- peso: integer (nullable = true)
 |-- ano_nasc: integer (nullable = true)

# Desafio: Coluna Nascimento


*   Colocar como DataType
*   Dica: o formato percisa estar: YYYY-MM-DD

In [51]:
df.show(5)

+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+
|  selecao|numero|posicao|         nome_fifa| data_nasc|nome_camisa|                time|altura|peso|ano_nasc|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|  66|    1993|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+
only showing top 5 rows

In [52]:
# lamba para efetuar a separação pelo ponto, assim é possível pegar o valor pelo índice
# dia = udf(lambda x: x.split('.')[0])

dia = udf(lambda data: data.split('.')[0])
# incluindo coluna de dia no dataframe
df = df.withColumn('dia_nasc', dia('data_nasc'))

In [53]:
# incluindo coluna de mes no dataframe
mes = udf(lambda data: data.split('.')[1])
df = df.withColumn('mes_nasc', mes('data_nasc'))

In [54]:
df.show()

+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------+--------+
|  selecao|numero|posicao|         nome_fifa| data_nasc|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------+--------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|
|Argentina|     4|     DF|  ANSALDI Cristian|20.09.1986|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|
|Argentina|     5|     MF|      BIGLIA Lucas|30.01.1986|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|
|Argentina|     7|     MF|       BANEGA Ever|29.06.1988|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|
|Argentina|    14|     DF| MASCHERANO Javier|08.06.1984| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|
|Argentina|    21|     FW|      DYBALA Paulo|15.11.1993|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|
|Argentina|    19|     FW|     AGUERO Sergio|02.06.1988|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|10.12.1987|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|
|Argentina|    11|     MF|    DI MARIA Angel|14.02.1988|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|
|Argentina|    20|     MF|  LO CELSO Giovani|09.04.1996|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|
|Argentina|    13|     MF|  MEZA Maximiliano|15.12.1992|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|
|Argentina|     8|     DF|      ACUNA Marcos|28.10.1991|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|
|Argentina|    23|     GK|CABALLERO Wilfredo|28.09.1981|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|
|Argentina|     2|     DF|   MERCADO Gabriel|18.03.1987|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|
|Argentina|    17|     DF|  OTAMENDI Nicolas|12.02.1988|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|
|Argentina|    16|     DF|       ROJO Marcos|20.03.1990|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------+--------+
only showing top 20 rows

In [55]:
df = df.withColumn('nascimento', concat_ws('-', 'ano_nasc', "mes_nasc", "dia_nasc"))

In [56]:
df.printSchema()

root
 |-- selecao: string (nullable = true)
 |-- numero: integer (nullable = true)
 |-- posicao: string (nullable = true)
 |-- nome_fifa: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- nome_camisa: string (nullable = true)
 |-- time: string (nullable = true)
 |-- altura: integer (nullable = true)
 |-- peso: integer (nullable = true)
 |-- ano_nasc: integer (nullable = true)
 |-- dia_nasc: string (nullable = true)
 |-- mes_nasc: string (nullable = true)
 |-- nascimento: string (nullable = false)

In [57]:
df = df.withColumn('nascimento', col('nascimento').cast(DateType()))
df.show()

+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------+--------+----------+
|  selecao|numero|posicao|         nome_fifa| data_nasc|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------+--------+----------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|
|Argentina|     4|     DF|  ANSALDI Cristian|20.09.1986|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|
|Argentina|     5|     MF|      BIGLIA Lucas|30.01.1986|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|
|Argentina|     7|     MF|       BANEGA Ever|29.06.1988|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|
|Argentina|    14|     DF| MASCHERANO Javier|08.06.1984| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|
|Argentina|    21|     FW|      DYBALA Paulo|15.11.1993|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|
|Argentina|    19|     FW|     AGUERO Sergio|02.06.1988|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|10.12.1987|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|
|Argentina|    11|     MF|    DI MARIA Angel|14.02.1988|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|
|Argentina|    20|     MF|  LO CELSO Giovani|09.04.1996|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|
|Argentina|    13|     MF|  MEZA Maximiliano|15.12.1992|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|
|Argentina|     8|     DF|      ACUNA Marcos|28.10.1991|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|
|Argentina|    23|     GK|CABALLERO Wilfredo|28.09.1981|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|
|Argentina|     2|     DF|   MERCADO Gabriel|18.03.1987|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|
|Argentina|    17|     DF|  OTAMENDI Nicolas|12.02.1988|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|
|Argentina|    16|     DF|       ROJO Marcos|20.03.1990|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------+--------+----------+
only showing top 20 rows

In [58]:
df.printSchema()

root
 |-- selecao: string (nullable = true)
 |-- numero: integer (nullable = true)
 |-- posicao: string (nullable = true)
 |-- nome_fifa: string (nullable = true)
 |-- data_nasc: string (nullable = true)
 |-- nome_camisa: string (nullable = true)
 |-- time: string (nullable = true)
 |-- altura: integer (nullable = true)
 |-- peso: integer (nullable = true)
 |-- ano_nasc: integer (nullable = true)
 |-- dia_nasc: string (nullable = true)
 |-- mes_nasc: string (nullable = true)
 |-- nascimento: date (nullable = true)

# Aula 2

# Importando função window

In [59]:
from pyspark.sql.window import Window

In [60]:
df.show()

+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------+--------+----------+
|  selecao|numero|posicao|         nome_fifa| data_nasc|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------+--------+----------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|
|Argentina|     4|     DF|  ANSALDI Cristian|20.09.1986|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|
|Argentina|     5|     MF|      BIGLIA Lucas|30.01.1986|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|
|Argentina|     7|     MF|       BANEGA Ever|29.06.1988|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|
|Argentina|    14|     DF| MASCHERANO Javier|08.06.1984| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|
|Argentina|    21|     FW|      DYBALA Paulo|15.11.1993|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|
|Argentina|    19|     FW|     AGUERO Sergio|02.06.1988|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|10.12.1987|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|
|Argentina|    11|     MF|    DI MARIA Angel|14.02.1988|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|
|Argentina|    20|     MF|  LO CELSO Giovani|09.04.1996|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|
|Argentina|    13|     MF|  MEZA Maximiliano|15.12.1992|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|
|Argentina|     8|     DF|      ACUNA Marcos|28.10.1991|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|
|Argentina|    23|     GK|CABALLERO Wilfredo|28.09.1981|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|
|Argentina|     2|     DF|   MERCADO Gabriel|18.03.1987|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|
|Argentina|    17|     DF|  OTAMENDI Nicolas|12.02.1988|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|
|Argentina|    16|     DF|       ROJO Marcos|20.03.1990|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|
+---------+------+-------+------------------+----------+-----------+--------------------+------+----+--------+--------+--------+----------+
only showing top 20 rows

# Drop de colunas

In [61]:
df = df.drop('data_nasc')
df.show()

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+
only showing top 20 rows

# Dataframe Backup

In [62]:
# é simples, só atribuir o primeiro dataframe para outra variável
df2 = df

# Window Ranking Functions<br>

* Window function 1: número de linhas - row_numbers()
* Window function 2: ranking 1 - rank()
* Window function 3: ranking 2 - dense_rank()
* Window function 4: porcentagem ranking - percent_rank()
* Window function 5: divisão em 'N' - ntile()

# Window function 1: número de linhas - row_numbers()

In [63]:
numero_linhas = Window.partitionBy('selecao').orderBy(desc('altura'))

df.withColumn('numero_linha', row_number().over(numero_linhas)).show(50)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+------------+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|numero_linha|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+------------+
|Argentina|     6|     DF|    FAZIO Federico|      FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17|           1|
|Argentina|     1|     GK|     GUZMAN Nahuel|     GUZMÁN|   Tigres UANL (MEX)|   192|  90|    1986|      10|      02|1986-02-10|           2|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|           3|
|Argentina|    12|     GK|     ARMANI Franco|     ARMANI|CA River Plate (ARG)|   189|  85|    1986|      16|      10|1986-10-16|           4|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|           5|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|           6|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|           7|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|           8|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|           9|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|          10|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|          11|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|          12|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|          13|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|          14|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|          15|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|          16|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|          17|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|          18|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|          19|
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|          20|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|          21|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|          22|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|          23|
|Australia|    12|     GK|        JONES Brad|      JONES|Feyenoord Rotterd...|   193|  87|    1982|      19|      03|1982-03-19|           1|
|Australia|     9|     FW|        JURIC Tomi|      JURIC|     FC Luzern (SUI)|   190|  80|    1991|      22|      07|1991-07-22|           2|
|Australia|     6|     DF|    JURMAN Matthew|     JURMAN|Suwon Samsung Blu...|   190|  83|    1989|      08|      12|1989-12-08|           3|
|Australia|    23|     MF|         ROGIC Tom|      ROGIC|     Celtic FC (SCO)|   189|  88|    1992|      16|      12|1992-12-16|           4|
|Australia|    15|     MF|      JEDINAK Mile|    JEDINAK|Aston Villa FC (ENG)|   188|  78|    1984|      03|      08|1984-08-03|           5|
|Australia|     2|     DF|     DEGENEK Milos|    DEGENEK|Yokohama F-Marino...|   187|  85|    1994|      28|      04|1994-04-28|           6|
|Australia|    18|     GK|     VUKOVIC Danny|    VUKOVIC|      KRC Genk (BEL)|   187|  94|    1985|      27|      03|1985-03-27|           7|
|Australia|     1|     GK|       RYAN Mathew|       RYAN|Brighton & Hove A...|   184|  82|    1992|      08|      04|1992-04-08|           8|
|Australia|    20|     DF|   SAINSBURY Trent|  SAINSBURY|Grasshopper Club ...|   183|  76|    1992|      05|      01|1992-01-05|           9|
|Australia|     7|     FW|     LECKIE Mathew|     LECKIE|    Hertha BSC (GER)|   181|  84|    1991|      04|      02|1991-02-04|          10|
|Australia|    10|     FW|      KRUSE Robbie|      KRUSE|    VfL Bochum (GER)|   180|  66|    1988|      05|      10|1988-10-05|          11|
|Australia|     4|     FW|        CAHILL Tim|     CAHILL|   Millwall FC (ENG)|   180|  76|    1979|      06|      12|1979-12-06|          12|
|Australia|    22|     MF|    IRVINE Jackson|     IRVINE|  Hull City FC (ENG)|   180|  77|    1993|      07|      03|1993-03-07|          13|
|Australia|     3|     DF|    MEREDITH James|   MEREDITH|   Millwall FC (ENG)|   179|  71|    1988|      05|      04|1988-04-05|          14|
|Australia|    14|     FW|    MacLAREN Jamie|   MACLAREN|  Hibernian FC (SCO)|   178|  72|    1993|      29|      07|1993-07-29|          15|
|Australia|     5|     DF|     MILLIGAN Mark|   MILLIGAN|    Al Ahli SC (KSA)|   178|  78|    1985|      04|      08|1985-08-04|          16|
|Australia|    11|     FW|    NABBOUT Andrew|    NABBOUT|    Urawa Reds (JPN)|   178|  85|    1992|      17|      12|1992-12-17|          17|
|Australia|    21|     FW|PETRATOS Dimitrios|   PETRATOS|Newcastle United ...|   176|  72|    1992|      10|      11|1992-11-10|          18|
|Australia|     8|     MF|    LUONGO Massimo|     LUONGO|Queens Park Range...|   176|  76|    1992|      25|      09|1992-09-25|          19|
|Australia|    13|     MF|        MOOY Aaron|       MOOY|Huddersfield Town...|   173|  72|    1990|      15|      09|1990-09-15|          20|
|Australia|    17|     FW|     ARZANI Daniel|     ARZANI|Melbourne City FC...|   171|  73|    1999|      04|      01|1999-01-04|          21|
|Australia|    16|     DF|       BEHICH Aziz|     BEHICH|     Bursaspor (TUR)|   170|  63|    1990|      16|      12|1990-12-16|          22|
|Australia|    19|     DF|     RISDON Joshua|     RISDON|WS Wanderers FC (...|   169|  70|    1992|      27|      07|1992-07-27|          23|
|  Belgium|     1|     GK|  COURTOIS Thibaut|   COURTOIS|    Chelsea FC (ENG)|   199|  91|    1992|      11|      05|1992-05-11|           1|
|  Belgium|    13|     GK|     CASTEELS Koen|   CASTEELS| VfL Wolfsburg (GER)|   197|  86|    1992|      25|      06|1992-06-25|           2|
|  Belgium|     8|     MF| FELLAINI Marouane|   FELLAINI|Manchester United...|   194|  85|    1987|      22|      11|1987-11-22|           3|
|  Belgium|    12|     GK|    MIGNOLET Simon|   MIGNOLET|  Liverpool FC (ENG)|   193|  87|    1988|      06|      03|1988-03-06|           4|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+------------+
only showing top 50 rows

# Window function 2: ranking 1 - rank()

In [64]:
rank1 = Window.partitionBy('selecao').orderBy(desc('altura'))

df.withColumn('rank', rank().over(rank1)).show(50)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|rank|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----+
|Argentina|     6|     DF|    FAZIO Federico|      FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17|   1|
|Argentina|     1|     GK|     GUZMAN Nahuel|     GUZMÁN|   Tigres UANL (MEX)|   192|  90|    1986|      10|      02|1986-02-10|   2|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|   3|
|Argentina|    12|     GK|     ARMANI Franco|     ARMANI|CA River Plate (ARG)|   189|  85|    1986|      16|      10|1986-10-16|   3|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|   5|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|   6|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|   7|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|   7|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|   7|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|  10|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|  11|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|  12|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|  12|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|  14|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|  14|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|  16|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|  17|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|  17|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|  19|
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|  20|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|  20|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|  22|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|  22|
|Australia|    12|     GK|        JONES Brad|      JONES|Feyenoord Rotterd...|   193|  87|    1982|      19|      03|1982-03-19|   1|
|Australia|     9|     FW|        JURIC Tomi|      JURIC|     FC Luzern (SUI)|   190|  80|    1991|      22|      07|1991-07-22|   2|
|Australia|     6|     DF|    JURMAN Matthew|     JURMAN|Suwon Samsung Blu...|   190|  83|    1989|      08|      12|1989-12-08|   2|
|Australia|    23|     MF|         ROGIC Tom|      ROGIC|     Celtic FC (SCO)|   189|  88|    1992|      16|      12|1992-12-16|   4|
|Australia|    15|     MF|      JEDINAK Mile|    JEDINAK|Aston Villa FC (ENG)|   188|  78|    1984|      03|      08|1984-08-03|   5|
|Australia|     2|     DF|     DEGENEK Milos|    DEGENEK|Yokohama F-Marino...|   187|  85|    1994|      28|      04|1994-04-28|   6|
|Australia|    18|     GK|     VUKOVIC Danny|    VUKOVIC|      KRC Genk (BEL)|   187|  94|    1985|      27|      03|1985-03-27|   6|
|Australia|     1|     GK|       RYAN Mathew|       RYAN|Brighton & Hove A...|   184|  82|    1992|      08|      04|1992-04-08|   8|
|Australia|    20|     DF|   SAINSBURY Trent|  SAINSBURY|Grasshopper Club ...|   183|  76|    1992|      05|      01|1992-01-05|   9|
|Australia|     7|     FW|     LECKIE Mathew|     LECKIE|    Hertha BSC (GER)|   181|  84|    1991|      04|      02|1991-02-04|  10|
|Australia|    10|     FW|      KRUSE Robbie|      KRUSE|    VfL Bochum (GER)|   180|  66|    1988|      05|      10|1988-10-05|  11|
|Australia|     4|     FW|        CAHILL Tim|     CAHILL|   Millwall FC (ENG)|   180|  76|    1979|      06|      12|1979-12-06|  11|
|Australia|    22|     MF|    IRVINE Jackson|     IRVINE|  Hull City FC (ENG)|   180|  77|    1993|      07|      03|1993-03-07|  11|
|Australia|     3|     DF|    MEREDITH James|   MEREDITH|   Millwall FC (ENG)|   179|  71|    1988|      05|      04|1988-04-05|  14|
|Australia|    14|     FW|    MacLAREN Jamie|   MACLAREN|  Hibernian FC (SCO)|   178|  72|    1993|      29|      07|1993-07-29|  15|
|Australia|     5|     DF|     MILLIGAN Mark|   MILLIGAN|    Al Ahli SC (KSA)|   178|  78|    1985|      04|      08|1985-08-04|  15|
|Australia|    11|     FW|    NABBOUT Andrew|    NABBOUT|    Urawa Reds (JPN)|   178|  85|    1992|      17|      12|1992-12-17|  15|
|Australia|    21|     FW|PETRATOS Dimitrios|   PETRATOS|Newcastle United ...|   176|  72|    1992|      10|      11|1992-11-10|  18|
|Australia|     8|     MF|    LUONGO Massimo|     LUONGO|Queens Park Range...|   176|  76|    1992|      25|      09|1992-09-25|  18|
|Australia|    13|     MF|        MOOY Aaron|       MOOY|Huddersfield Town...|   173|  72|    1990|      15|      09|1990-09-15|  20|
|Australia|    17|     FW|     ARZANI Daniel|     ARZANI|Melbourne City FC...|   171|  73|    1999|      04|      01|1999-01-04|  21|
|Australia|    16|     DF|       BEHICH Aziz|     BEHICH|     Bursaspor (TUR)|   170|  63|    1990|      16|      12|1990-12-16|  22|
|Australia|    19|     DF|     RISDON Joshua|     RISDON|WS Wanderers FC (...|   169|  70|    1992|      27|      07|1992-07-27|  23|
|  Belgium|     1|     GK|  COURTOIS Thibaut|   COURTOIS|    Chelsea FC (ENG)|   199|  91|    1992|      11|      05|1992-05-11|   1|
|  Belgium|    13|     GK|     CASTEELS Koen|   CASTEELS| VfL Wolfsburg (GER)|   197|  86|    1992|      25|      06|1992-06-25|   2|
|  Belgium|     8|     MF| FELLAINI Marouane|   FELLAINI|Manchester United...|   194|  85|    1987|      22|      11|1987-11-22|   3|
|  Belgium|    12|     GK|    MIGNOLET Simon|   MIGNOLET|  Liverpool FC (ENG)|   193|  87|    1988|      06|      03|1988-03-06|   4|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----+
only showing top 50 rows

# Window function 3: ranking 2 - dense_rank()

In [65]:
rank2 = Window.partitionBy('selecao').orderBy(desc('altura'))
df.withColumn('rank2', dense_rank().over(rank2)).show(50)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+-----+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|rank2|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+-----+
|Argentina|     6|     DF|    FAZIO Federico|      FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17|    1|
|Argentina|     1|     GK|     GUZMAN Nahuel|     GUZMÁN|   Tigres UANL (MEX)|   192|  90|    1986|      10|      02|1986-02-10|    2|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|    3|
|Argentina|    12|     GK|     ARMANI Franco|     ARMANI|CA River Plate (ARG)|   189|  85|    1986|      16|      10|1986-10-16|    3|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|    4|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|    5|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|    6|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|    6|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|    6|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|    7|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|    8|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|    9|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|    9|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|   10|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|   10|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|   11|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|   12|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|   12|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|   13|
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|   14|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|   14|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|   15|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|   15|
|Australia|    12|     GK|        JONES Brad|      JONES|Feyenoord Rotterd...|   193|  87|    1982|      19|      03|1982-03-19|    1|
|Australia|     9|     FW|        JURIC Tomi|      JURIC|     FC Luzern (SUI)|   190|  80|    1991|      22|      07|1991-07-22|    2|
|Australia|     6|     DF|    JURMAN Matthew|     JURMAN|Suwon Samsung Blu...|   190|  83|    1989|      08|      12|1989-12-08|    2|
|Australia|    23|     MF|         ROGIC Tom|      ROGIC|     Celtic FC (SCO)|   189|  88|    1992|      16|      12|1992-12-16|    3|
|Australia|    15|     MF|      JEDINAK Mile|    JEDINAK|Aston Villa FC (ENG)|   188|  78|    1984|      03|      08|1984-08-03|    4|
|Australia|     2|     DF|     DEGENEK Milos|    DEGENEK|Yokohama F-Marino...|   187|  85|    1994|      28|      04|1994-04-28|    5|
|Australia|    18|     GK|     VUKOVIC Danny|    VUKOVIC|      KRC Genk (BEL)|   187|  94|    1985|      27|      03|1985-03-27|    5|
|Australia|     1|     GK|       RYAN Mathew|       RYAN|Brighton & Hove A...|   184|  82|    1992|      08|      04|1992-04-08|    6|
|Australia|    20|     DF|   SAINSBURY Trent|  SAINSBURY|Grasshopper Club ...|   183|  76|    1992|      05|      01|1992-01-05|    7|
|Australia|     7|     FW|     LECKIE Mathew|     LECKIE|    Hertha BSC (GER)|   181|  84|    1991|      04|      02|1991-02-04|    8|
|Australia|    10|     FW|      KRUSE Robbie|      KRUSE|    VfL Bochum (GER)|   180|  66|    1988|      05|      10|1988-10-05|    9|
|Australia|     4|     FW|        CAHILL Tim|     CAHILL|   Millwall FC (ENG)|   180|  76|    1979|      06|      12|1979-12-06|    9|
|Australia|    22|     MF|    IRVINE Jackson|     IRVINE|  Hull City FC (ENG)|   180|  77|    1993|      07|      03|1993-03-07|    9|
|Australia|     3|     DF|    MEREDITH James|   MEREDITH|   Millwall FC (ENG)|   179|  71|    1988|      05|      04|1988-04-05|   10|
|Australia|    14|     FW|    MacLAREN Jamie|   MACLAREN|  Hibernian FC (SCO)|   178|  72|    1993|      29|      07|1993-07-29|   11|
|Australia|     5|     DF|     MILLIGAN Mark|   MILLIGAN|    Al Ahli SC (KSA)|   178|  78|    1985|      04|      08|1985-08-04|   11|
|Australia|    11|     FW|    NABBOUT Andrew|    NABBOUT|    Urawa Reds (JPN)|   178|  85|    1992|      17|      12|1992-12-17|   11|
|Australia|    21|     FW|PETRATOS Dimitrios|   PETRATOS|Newcastle United ...|   176|  72|    1992|      10|      11|1992-11-10|   12|
|Australia|     8|     MF|    LUONGO Massimo|     LUONGO|Queens Park Range...|   176|  76|    1992|      25|      09|1992-09-25|   12|
|Australia|    13|     MF|        MOOY Aaron|       MOOY|Huddersfield Town...|   173|  72|    1990|      15|      09|1990-09-15|   13|
|Australia|    17|     FW|     ARZANI Daniel|     ARZANI|Melbourne City FC...|   171|  73|    1999|      04|      01|1999-01-04|   14|
|Australia|    16|     DF|       BEHICH Aziz|     BEHICH|     Bursaspor (TUR)|   170|  63|    1990|      16|      12|1990-12-16|   15|
|Australia|    19|     DF|     RISDON Joshua|     RISDON|WS Wanderers FC (...|   169|  70|    1992|      27|      07|1992-07-27|   16|
|  Belgium|     1|     GK|  COURTOIS Thibaut|   COURTOIS|    Chelsea FC (ENG)|   199|  91|    1992|      11|      05|1992-05-11|    1|
|  Belgium|    13|     GK|     CASTEELS Koen|   CASTEELS| VfL Wolfsburg (GER)|   197|  86|    1992|      25|      06|1992-06-25|    2|
|  Belgium|     8|     MF| FELLAINI Marouane|   FELLAINI|Manchester United...|   194|  85|    1987|      22|      11|1987-11-22|    3|
|  Belgium|    12|     GK|    MIGNOLET Simon|   MIGNOLET|  Liverpool FC (ENG)|   193|  87|    1988|      06|      03|1988-03-06|    4|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+-----+
only showing top 50 rows

# Window function 4: porcentagem ranking - percent_rank()

In [66]:
porcentagem = Window.partitionBy('selecao').orderBy(desc('altura'))
df.withColumn('%', percent_rank().over(porcentagem)).show(50)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+--------------------+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|                   %|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+--------------------+
|Argentina|     6|     DF|    FAZIO Federico|      FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17|                 0.0|
|Argentina|     1|     GK|     GUZMAN Nahuel|     GUZMÁN|   Tigres UANL (MEX)|   192|  90|    1986|      10|      02|1986-02-10|0.045454545454545456|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20| 0.09090909090909091|
|Argentina|    12|     GK|     ARMANI Franco|     ARMANI|CA River Plate (ARG)|   189|  85|    1986|      16|      10|1986-10-16| 0.09090909090909091|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28| 0.18181818181818182|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10| 0.22727272727272727|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|  0.2727272727272727|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|  0.2727272727272727|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|  0.2727272727272727|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|  0.4090909090909091|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14| 0.45454545454545453|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|                 0.5|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|                 0.5|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|  0.5909090909090909|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|  0.5909090909090909|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|  0.6818181818181818|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|  0.7272727272727273|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|  0.7272727272727273|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|  0.8181818181818182|
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|  0.8636363636363636|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|  0.8636363636363636|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|  0.9545454545454546|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|  0.9545454545454546|
|Australia|    12|     GK|        JONES Brad|      JONES|Feyenoord Rotterd...|   193|  87|    1982|      19|      03|1982-03-19|                 0.0|
|Australia|     9|     FW|        JURIC Tomi|      JURIC|     FC Luzern (SUI)|   190|  80|    1991|      22|      07|1991-07-22|0.045454545454545456|
|Australia|     6|     DF|    JURMAN Matthew|     JURMAN|Suwon Samsung Blu...|   190|  83|    1989|      08|      12|1989-12-08|0.045454545454545456|
|Australia|    23|     MF|         ROGIC Tom|      ROGIC|     Celtic FC (SCO)|   189|  88|    1992|      16|      12|1992-12-16| 0.13636363636363635|
|Australia|    15|     MF|      JEDINAK Mile|    JEDINAK|Aston Villa FC (ENG)|   188|  78|    1984|      03|      08|1984-08-03| 0.18181818181818182|
|Australia|     2|     DF|     DEGENEK Milos|    DEGENEK|Yokohama F-Marino...|   187|  85|    1994|      28|      04|1994-04-28| 0.22727272727272727|
|Australia|    18|     GK|     VUKOVIC Danny|    VUKOVIC|      KRC Genk (BEL)|   187|  94|    1985|      27|      03|1985-03-27| 0.22727272727272727|
|Australia|     1|     GK|       RYAN Mathew|       RYAN|Brighton & Hove A...|   184|  82|    1992|      08|      04|1992-04-08|  0.3181818181818182|
|Australia|    20|     DF|   SAINSBURY Trent|  SAINSBURY|Grasshopper Club ...|   183|  76|    1992|      05|      01|1992-01-05| 0.36363636363636365|
|Australia|     7|     FW|     LECKIE Mathew|     LECKIE|    Hertha BSC (GER)|   181|  84|    1991|      04|      02|1991-02-04|  0.4090909090909091|
|Australia|    10|     FW|      KRUSE Robbie|      KRUSE|    VfL Bochum (GER)|   180|  66|    1988|      05|      10|1988-10-05| 0.45454545454545453|
|Australia|     4|     FW|        CAHILL Tim|     CAHILL|   Millwall FC (ENG)|   180|  76|    1979|      06|      12|1979-12-06| 0.45454545454545453|
|Australia|    22|     MF|    IRVINE Jackson|     IRVINE|  Hull City FC (ENG)|   180|  77|    1993|      07|      03|1993-03-07| 0.45454545454545453|
|Australia|     3|     DF|    MEREDITH James|   MEREDITH|   Millwall FC (ENG)|   179|  71|    1988|      05|      04|1988-04-05|  0.5909090909090909|
|Australia|    14|     FW|    MacLAREN Jamie|   MACLAREN|  Hibernian FC (SCO)|   178|  72|    1993|      29|      07|1993-07-29|  0.6363636363636364|
|Australia|     5|     DF|     MILLIGAN Mark|   MILLIGAN|    Al Ahli SC (KSA)|   178|  78|    1985|      04|      08|1985-08-04|  0.6363636363636364|
|Australia|    11|     FW|    NABBOUT Andrew|    NABBOUT|    Urawa Reds (JPN)|   178|  85|    1992|      17|      12|1992-12-17|  0.6363636363636364|
|Australia|    21|     FW|PETRATOS Dimitrios|   PETRATOS|Newcastle United ...|   176|  72|    1992|      10|      11|1992-11-10|  0.7727272727272727|
|Australia|     8|     MF|    LUONGO Massimo|     LUONGO|Queens Park Range...|   176|  76|    1992|      25|      09|1992-09-25|  0.7727272727272727|
|Australia|    13|     MF|        MOOY Aaron|       MOOY|Huddersfield Town...|   173|  72|    1990|      15|      09|1990-09-15|  0.8636363636363636|
|Australia|    17|     FW|     ARZANI Daniel|     ARZANI|Melbourne City FC...|   171|  73|    1999|      04|      01|1999-01-04|  0.9090909090909091|
|Australia|    16|     DF|       BEHICH Aziz|     BEHICH|     Bursaspor (TUR)|   170|  63|    1990|      16|      12|1990-12-16|  0.9545454545454546|
|Australia|    19|     DF|     RISDON Joshua|     RISDON|WS Wanderers FC (...|   169|  70|    1992|      27|      07|1992-07-27|                 1.0|
|  Belgium|     1|     GK|  COURTOIS Thibaut|   COURTOIS|    Chelsea FC (ENG)|   199|  91|    1992|      11|      05|1992-05-11|                 0.0|
|  Belgium|    13|     GK|     CASTEELS Koen|   CASTEELS| VfL Wolfsburg (GER)|   197|  86|    1992|      25|      06|1992-06-25|0.045454545454545456|
|  Belgium|     8|     MF| FELLAINI Marouane|   FELLAINI|Manchester United...|   194|  85|    1987|      22|      11|1987-11-22| 0.09090909090909091|
|  Belgium|    12|     GK|    MIGNOLET Simon|   MIGNOLET|  Liverpool FC (ENG)|   193|  87|    1988|      06|      03|1988-03-06| 0.13636363636363635|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+--------------------+
only showing top 50 rows

# Window function 5: divisão em 'N' - ntile()

In [67]:
# efetua a divisão das linhas de dados de acordo com o partitionby

parte = Window.partitionBy('selecao').orderBy(desc('altura'))
df.withColumn('parte', ntile(5).over(parte)).show(50)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+-----+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|parte|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+-----+
|Argentina|     6|     DF|    FAZIO Federico|      FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17|    1|
|Argentina|     1|     GK|     GUZMAN Nahuel|     GUZMÁN|   Tigres UANL (MEX)|   192|  90|    1986|      10|      02|1986-02-10|    1|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|    1|
|Argentina|    12|     GK|     ARMANI Franco|     ARMANI|CA River Plate (ARG)|   189|  85|    1986|      16|      10|1986-10-16|    1|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|    1|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|    2|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|    2|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|    2|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|    2|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|    2|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|    3|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|    3|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|    3|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|    3|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|    3|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|    4|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|    4|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|    4|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|    4|
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|    5|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|    5|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|    5|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|    5|
|Australia|    12|     GK|        JONES Brad|      JONES|Feyenoord Rotterd...|   193|  87|    1982|      19|      03|1982-03-19|    1|
|Australia|     9|     FW|        JURIC Tomi|      JURIC|     FC Luzern (SUI)|   190|  80|    1991|      22|      07|1991-07-22|    1|
|Australia|     6|     DF|    JURMAN Matthew|     JURMAN|Suwon Samsung Blu...|   190|  83|    1989|      08|      12|1989-12-08|    1|
|Australia|    23|     MF|         ROGIC Tom|      ROGIC|     Celtic FC (SCO)|   189|  88|    1992|      16|      12|1992-12-16|    1|
|Australia|    15|     MF|      JEDINAK Mile|    JEDINAK|Aston Villa FC (ENG)|   188|  78|    1984|      03|      08|1984-08-03|    1|
|Australia|     2|     DF|     DEGENEK Milos|    DEGENEK|Yokohama F-Marino...|   187|  85|    1994|      28|      04|1994-04-28|    2|
|Australia|    18|     GK|     VUKOVIC Danny|    VUKOVIC|      KRC Genk (BEL)|   187|  94|    1985|      27|      03|1985-03-27|    2|
|Australia|     1|     GK|       RYAN Mathew|       RYAN|Brighton & Hove A...|   184|  82|    1992|      08|      04|1992-04-08|    2|
|Australia|    20|     DF|   SAINSBURY Trent|  SAINSBURY|Grasshopper Club ...|   183|  76|    1992|      05|      01|1992-01-05|    2|
|Australia|     7|     FW|     LECKIE Mathew|     LECKIE|    Hertha BSC (GER)|   181|  84|    1991|      04|      02|1991-02-04|    2|
|Australia|    10|     FW|      KRUSE Robbie|      KRUSE|    VfL Bochum (GER)|   180|  66|    1988|      05|      10|1988-10-05|    3|
|Australia|     4|     FW|        CAHILL Tim|     CAHILL|   Millwall FC (ENG)|   180|  76|    1979|      06|      12|1979-12-06|    3|
|Australia|    22|     MF|    IRVINE Jackson|     IRVINE|  Hull City FC (ENG)|   180|  77|    1993|      07|      03|1993-03-07|    3|
|Australia|     3|     DF|    MEREDITH James|   MEREDITH|   Millwall FC (ENG)|   179|  71|    1988|      05|      04|1988-04-05|    3|
|Australia|    14|     FW|    MacLAREN Jamie|   MACLAREN|  Hibernian FC (SCO)|   178|  72|    1993|      29|      07|1993-07-29|    3|
|Australia|     5|     DF|     MILLIGAN Mark|   MILLIGAN|    Al Ahli SC (KSA)|   178|  78|    1985|      04|      08|1985-08-04|    4|
|Australia|    11|     FW|    NABBOUT Andrew|    NABBOUT|    Urawa Reds (JPN)|   178|  85|    1992|      17|      12|1992-12-17|    4|
|Australia|    21|     FW|PETRATOS Dimitrios|   PETRATOS|Newcastle United ...|   176|  72|    1992|      10|      11|1992-11-10|    4|
|Australia|     8|     MF|    LUONGO Massimo|     LUONGO|Queens Park Range...|   176|  76|    1992|      25|      09|1992-09-25|    4|
|Australia|    13|     MF|        MOOY Aaron|       MOOY|Huddersfield Town...|   173|  72|    1990|      15|      09|1990-09-15|    5|
|Australia|    17|     FW|     ARZANI Daniel|     ARZANI|Melbourne City FC...|   171|  73|    1999|      04|      01|1999-01-04|    5|
|Australia|    16|     DF|       BEHICH Aziz|     BEHICH|     Bursaspor (TUR)|   170|  63|    1990|      16|      12|1990-12-16|    5|
|Australia|    19|     DF|     RISDON Joshua|     RISDON|WS Wanderers FC (...|   169|  70|    1992|      27|      07|1992-07-27|    5|
|  Belgium|     1|     GK|  COURTOIS Thibaut|   COURTOIS|    Chelsea FC (ENG)|   199|  91|    1992|      11|      05|1992-05-11|    1|
|  Belgium|    13|     GK|     CASTEELS Koen|   CASTEELS| VfL Wolfsburg (GER)|   197|  86|    1992|      25|      06|1992-06-25|    1|
|  Belgium|     8|     MF| FELLAINI Marouane|   FELLAINI|Manchester United...|   194|  85|    1987|      22|      11|1987-11-22|    1|
|  Belgium|    12|     GK|    MIGNOLET Simon|   MIGNOLET|  Liverpool FC (ENG)|   193|  87|    1988|      06|      03|1988-03-06|    1|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+-----+
only showing top 50 rows

# Window Analytic Functions

# Window function  LAG / Degrau - lag()

In [68]:
degrau = Window.partitionBy('selecao').orderBy(desc('altura'))
df.withColumn('degrau', lag(col('altura')).over(degrau)).show(50)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+------+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|degrau|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+------+
|Argentina|     6|     DF|    FAZIO Federico|      FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17|  NULL|
|Argentina|     1|     GK|     GUZMAN Nahuel|     GUZMÁN|   Tigres UANL (MEX)|   192|  90|    1986|      10|      02|1986-02-10|   199|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|   192|
|Argentina|    12|     GK|     ARMANI Franco|     ARMANI|CA River Plate (ARG)|   189|  85|    1986|      16|      10|1986-10-16|   189|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|   189|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|   186|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|   184|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|   181|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|   181|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|   181|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|   180|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|   178|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|   177|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|   177|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|   175|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|   175|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|   174|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|   172|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|   172|
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|   170|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|   169|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|   169|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|   167|
|Australia|    12|     GK|        JONES Brad|      JONES|Feyenoord Rotterd...|   193|  87|    1982|      19|      03|1982-03-19|  NULL|
|Australia|     9|     FW|        JURIC Tomi|      JURIC|     FC Luzern (SUI)|   190|  80|    1991|      22|      07|1991-07-22|   193|
|Australia|     6|     DF|    JURMAN Matthew|     JURMAN|Suwon Samsung Blu...|   190|  83|    1989|      08|      12|1989-12-08|   190|
|Australia|    23|     MF|         ROGIC Tom|      ROGIC|     Celtic FC (SCO)|   189|  88|    1992|      16|      12|1992-12-16|   190|
|Australia|    15|     MF|      JEDINAK Mile|    JEDINAK|Aston Villa FC (ENG)|   188|  78|    1984|      03|      08|1984-08-03|   189|
|Australia|     2|     DF|     DEGENEK Milos|    DEGENEK|Yokohama F-Marino...|   187|  85|    1994|      28|      04|1994-04-28|   188|
|Australia|    18|     GK|     VUKOVIC Danny|    VUKOVIC|      KRC Genk (BEL)|   187|  94|    1985|      27|      03|1985-03-27|   187|
|Australia|     1|     GK|       RYAN Mathew|       RYAN|Brighton & Hove A...|   184|  82|    1992|      08|      04|1992-04-08|   187|
|Australia|    20|     DF|   SAINSBURY Trent|  SAINSBURY|Grasshopper Club ...|   183|  76|    1992|      05|      01|1992-01-05|   184|
|Australia|     7|     FW|     LECKIE Mathew|     LECKIE|    Hertha BSC (GER)|   181|  84|    1991|      04|      02|1991-02-04|   183|
|Australia|    10|     FW|      KRUSE Robbie|      KRUSE|    VfL Bochum (GER)|   180|  66|    1988|      05|      10|1988-10-05|   181|
|Australia|     4|     FW|        CAHILL Tim|     CAHILL|   Millwall FC (ENG)|   180|  76|    1979|      06|      12|1979-12-06|   180|
|Australia|    22|     MF|    IRVINE Jackson|     IRVINE|  Hull City FC (ENG)|   180|  77|    1993|      07|      03|1993-03-07|   180|
|Australia|     3|     DF|    MEREDITH James|   MEREDITH|   Millwall FC (ENG)|   179|  71|    1988|      05|      04|1988-04-05|   180|
|Australia|    14|     FW|    MacLAREN Jamie|   MACLAREN|  Hibernian FC (SCO)|   178|  72|    1993|      29|      07|1993-07-29|   179|
|Australia|     5|     DF|     MILLIGAN Mark|   MILLIGAN|    Al Ahli SC (KSA)|   178|  78|    1985|      04|      08|1985-08-04|   178|
|Australia|    11|     FW|    NABBOUT Andrew|    NABBOUT|    Urawa Reds (JPN)|   178|  85|    1992|      17|      12|1992-12-17|   178|
|Australia|    21|     FW|PETRATOS Dimitrios|   PETRATOS|Newcastle United ...|   176|  72|    1992|      10|      11|1992-11-10|   178|
|Australia|     8|     MF|    LUONGO Massimo|     LUONGO|Queens Park Range...|   176|  76|    1992|      25|      09|1992-09-25|   176|
|Australia|    13|     MF|        MOOY Aaron|       MOOY|Huddersfield Town...|   173|  72|    1990|      15|      09|1990-09-15|   176|
|Australia|    17|     FW|     ARZANI Daniel|     ARZANI|Melbourne City FC...|   171|  73|    1999|      04|      01|1999-01-04|   173|
|Australia|    16|     DF|       BEHICH Aziz|     BEHICH|     Bursaspor (TUR)|   170|  63|    1990|      16|      12|1990-12-16|   171|
|Australia|    19|     DF|     RISDON Joshua|     RISDON|WS Wanderers FC (...|   169|  70|    1992|      27|      07|1992-07-27|   170|
|  Belgium|     1|     GK|  COURTOIS Thibaut|   COURTOIS|    Chelsea FC (ENG)|   199|  91|    1992|      11|      05|1992-05-11|  NULL|
|  Belgium|    13|     GK|     CASTEELS Koen|   CASTEELS| VfL Wolfsburg (GER)|   197|  86|    1992|      25|      06|1992-06-25|   199|
|  Belgium|     8|     MF| FELLAINI Marouane|   FELLAINI|Manchester United...|   194|  85|    1987|      22|      11|1987-11-22|   197|
|  Belgium|    12|     GK|    MIGNOLET Simon|   MIGNOLET|  Liverpool FC (ENG)|   193|  87|    1988|      06|      03|1988-03-06|   194|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+------+
only showing top 50 rows

# Lead / Degrau - lead()

In [69]:
degrau2 = Window.partitionBy('selecao').orderBy(desc('altura'))
df.withColumn('degrau2', lead(col('altura')).over(degrau2)).show(50)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+-------+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|degrau2|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+-------+
|Argentina|     6|     DF|    FAZIO Federico|      FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17|    192|
|Argentina|     1|     GK|     GUZMAN Nahuel|     GUZMÁN|   Tigres UANL (MEX)|   192|  90|    1986|      10|      02|1986-02-10|    189|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|    189|
|Argentina|    12|     GK|     ARMANI Franco|     ARMANI|CA River Plate (ARG)|   189|  85|    1986|      16|      10|1986-10-16|    186|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|    184|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|    181|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|    181|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|    181|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|    180|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|    178|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|    177|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|    177|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|    175|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|    175|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|    174|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|    172|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|    172|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|    170|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|    169|
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|    169|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|    167|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|    167|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|   NULL|
|Australia|    12|     GK|        JONES Brad|      JONES|Feyenoord Rotterd...|   193|  87|    1982|      19|      03|1982-03-19|    190|
|Australia|     9|     FW|        JURIC Tomi|      JURIC|     FC Luzern (SUI)|   190|  80|    1991|      22|      07|1991-07-22|    190|
|Australia|     6|     DF|    JURMAN Matthew|     JURMAN|Suwon Samsung Blu...|   190|  83|    1989|      08|      12|1989-12-08|    189|
|Australia|    23|     MF|         ROGIC Tom|      ROGIC|     Celtic FC (SCO)|   189|  88|    1992|      16|      12|1992-12-16|    188|
|Australia|    15|     MF|      JEDINAK Mile|    JEDINAK|Aston Villa FC (ENG)|   188|  78|    1984|      03|      08|1984-08-03|    187|
|Australia|     2|     DF|     DEGENEK Milos|    DEGENEK|Yokohama F-Marino...|   187|  85|    1994|      28|      04|1994-04-28|    187|
|Australia|    18|     GK|     VUKOVIC Danny|    VUKOVIC|      KRC Genk (BEL)|   187|  94|    1985|      27|      03|1985-03-27|    184|
|Australia|     1|     GK|       RYAN Mathew|       RYAN|Brighton & Hove A...|   184|  82|    1992|      08|      04|1992-04-08|    183|
|Australia|    20|     DF|   SAINSBURY Trent|  SAINSBURY|Grasshopper Club ...|   183|  76|    1992|      05|      01|1992-01-05|    181|
|Australia|     7|     FW|     LECKIE Mathew|     LECKIE|    Hertha BSC (GER)|   181|  84|    1991|      04|      02|1991-02-04|    180|
|Australia|    10|     FW|      KRUSE Robbie|      KRUSE|    VfL Bochum (GER)|   180|  66|    1988|      05|      10|1988-10-05|    180|
|Australia|     4|     FW|        CAHILL Tim|     CAHILL|   Millwall FC (ENG)|   180|  76|    1979|      06|      12|1979-12-06|    180|
|Australia|    22|     MF|    IRVINE Jackson|     IRVINE|  Hull City FC (ENG)|   180|  77|    1993|      07|      03|1993-03-07|    179|
|Australia|     3|     DF|    MEREDITH James|   MEREDITH|   Millwall FC (ENG)|   179|  71|    1988|      05|      04|1988-04-05|    178|
|Australia|    14|     FW|    MacLAREN Jamie|   MACLAREN|  Hibernian FC (SCO)|   178|  72|    1993|      29|      07|1993-07-29|    178|
|Australia|     5|     DF|     MILLIGAN Mark|   MILLIGAN|    Al Ahli SC (KSA)|   178|  78|    1985|      04|      08|1985-08-04|    178|
|Australia|    11|     FW|    NABBOUT Andrew|    NABBOUT|    Urawa Reds (JPN)|   178|  85|    1992|      17|      12|1992-12-17|    176|
|Australia|    21|     FW|PETRATOS Dimitrios|   PETRATOS|Newcastle United ...|   176|  72|    1992|      10|      11|1992-11-10|    176|
|Australia|     8|     MF|    LUONGO Massimo|     LUONGO|Queens Park Range...|   176|  76|    1992|      25|      09|1992-09-25|    173|
|Australia|    13|     MF|        MOOY Aaron|       MOOY|Huddersfield Town...|   173|  72|    1990|      15|      09|1990-09-15|    171|
|Australia|    17|     FW|     ARZANI Daniel|     ARZANI|Melbourne City FC...|   171|  73|    1999|      04|      01|1999-01-04|    170|
|Australia|    16|     DF|       BEHICH Aziz|     BEHICH|     Bursaspor (TUR)|   170|  63|    1990|      16|      12|1990-12-16|    169|
|Australia|    19|     DF|     RISDON Joshua|     RISDON|WS Wanderers FC (...|   169|  70|    1992|      27|      07|1992-07-27|   NULL|
|  Belgium|     1|     GK|  COURTOIS Thibaut|   COURTOIS|    Chelsea FC (ENG)|   199|  91|    1992|      11|      05|1992-05-11|    197|
|  Belgium|    13|     GK|     CASTEELS Koen|   CASTEELS| VfL Wolfsburg (GER)|   197|  86|    1992|      25|      06|1992-06-25|    194|
|  Belgium|     8|     MF| FELLAINI Marouane|   FELLAINI|Manchester United...|   194|  85|    1987|      22|      11|1987-11-22|    193|
|  Belgium|    12|     GK|    MIGNOLET Simon|   MIGNOLET|  Liverpool FC (ENG)|   193|  87|    1988|      06|      03|1988-03-06|    190|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+-------+
only showing top 50 rows

# Agregações

# GroupBy + AGG 1

In [70]:
df.groupBy('selecao').agg({'altura': 'avg'}).orderBy('avg(altura)', ascending = False).show(50)

+--------------+------------------+
|       selecao|       avg(altura)|
+--------------+------------------+
|        Serbia|186.69565217391303|
|       Denmark| 186.6086956521739|
|       Germany| 185.7826086956522|
|        Sweden| 185.7391304347826|
|       Iceland|185.52173913043478|
|       Belgium|185.34782608695653|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|       IR Iran|184.47826086956522|
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        France|183.30434782608697|
|        Poland|183.17391304347825|
|       Tunisia|183.08695652173913|
|   Switzerland|182.91304347826087|
|       England| 182.7391304347826|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|Korea Republic| 181.8695652173913|
|       Uruguay|181.04347826086956|
|         Egypt|             181.0|
|     Australia| 180.8695652173913|
|        Brazil| 180.7826086956522|
|      Colombia| 180.7826086956522|
|    Costa Rica|180.69565217391303|
|         Spain|179.91304347826087|
|        Mexico| 179.7826086956522|
|      Portugal| 179.7391304347826|
|         Japan| 178.7826086956522|
|     Argentina|178.43478260869566|
|  Saudi Arabia|177.65217391304347|
|          Peru| 177.6086956521739|
+--------------+------------------+

# GroupBy + AGG 2

In [71]:
df.groupBy('selecao').agg(max('altura')).orderBy('max(altura)', ascending = False).show(50)

+--------------+-----------+
|       selecao|max(altura)|
+--------------+-----------+
|       Croatia|        201|
|       Denmark|        200|
|     Argentina|        199|
|       Belgium|        199|
|        Sweden|        198|
|       Iceland|        198|
|        France|        197|
|       Nigeria|        197|
|Korea Republic|        197|
|        Panama|        197|
|        Russia|        196|
|       Senegal|        196|
|       Uruguay|        196|
|       England|        196|
|    Costa Rica|        196|
|       Germany|        195|
|        Brazil|        195|
|        Poland|        195|
|        Serbia|        195|
|       IR Iran|        194|
|         Spain|        194|
|         Egypt|        194|
|      Colombia|        194|
|     Australia|        193|
|       Tunisia|        192|
|  Saudi Arabia|        192|
|   Switzerland|        192|
|      Portugal|        191|
|       Morocco|        190|
|        Mexico|        190|
|          Peru|        189|
|         Japan|        189|
+--------------+-----------+

# Where

In [72]:
# where é igual ao filter
df.where('selecao = "Brazil"').where('posicao = "DF"').show()

# where((condicao 1) & where(condicao 2))

+-------+------+-------+-------------+-----------+--------------------+------+----+--------+--------+--------+----------+
|selecao|numero|posicao|    nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|
+-------+------+-------+-------------+-----------+--------------------+------+----+--------+--------+--------+----------+
| Brazil|    22|     DF|       FAGNER|     FAGNER|SC Corinthians (BRA)|   168|  67|    1989|      11|      06|1989-06-11|
| Brazil|     6|     DF|  FILIPE LUIS|FILIPE LUIS|Atletico Madrid (...|   182|  73|    1985|      09|      08|1985-08-09|
| Brazil|    13|     DF|   MARQUINHOS| MARQUINHOS|Paris Saint-Germa...|   183|  75|    1994|      14|      05|1994-05-14|
| Brazil|     3|     DF|      MIRANDA|    MIRANDA|FC Internazionale...|   186|  78|    1984|      07|      09|1984-09-07|
| Brazil|    14|     DF|       DANILO|     DANILO|Manchester City F...|   184|  78|    1991|      15|      07|1991-07-15|
| Brazil|     2|     DF| THIAGO SILVA|   T. SILVA|Paris Saint-Germa...|   183|  79|    1984|      22|      09|1984-09-22|
| Brazil|    12|     DF|      MARCELO|    MARCELO|Real Madrid CF (ESP)|   174|  80|    1988|      12|      05|1988-05-12|
| Brazil|     4|     DF|PEDRO GEROMEL|    GEROMEL|   Grêmio FBPA (BRA)|   190|  84|    1985|      21|      09|1985-09-21|
+-------+------+-------+-------------+-----------+--------------------+------+----+--------+--------+--------+----------+

In [73]:
top_1 = Window.partitionBy('selecao').orderBy(desc('altura'))
df.withColumn('top', row_number().over(top_1)).filter('top = "1"').show(50)

+--------------+------+-------+-------------------+-------------+--------------------+------+----+--------+--------+--------+----------+---+
|       selecao|numero|posicao|          nome_fifa|  nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|top|
+--------------+------+-------+-------------------+-------------+--------------------+------+----+--------+--------+--------+----------+---+
|     Argentina|     6|     DF|     FAZIO Federico|        FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17|  1|
|     Australia|    12|     GK|         JONES Brad|        JONES|Feyenoord Rotterd...|   193|  87|    1982|      19|      03|1982-03-19|  1|
|       Belgium|     1|     GK|   COURTOIS Thibaut|     COURTOIS|    Chelsea FC (ENG)|   199|  91|    1992|      11|      05|1992-05-11|  1|
|        Brazil|    16|     GK|             CASSIO|       CASSIO|SC Corinthians (BRA)|   195|  92|    1987|      06|      06|1987-06-06|  1|
|      Colombia|    13|     DF|         MINA Yerry|      Y. MINA|  FC Barcelona (ESP)|   194|  95|    1994|      23|      09|1994-09-23|  1|
|    Costa Rica|    19|     DF|     WASTON Kendall|    K. WASTON|Vancouver Whiteca...|   196|  87|    1988|      01|      01|1988-01-01|  1|
|       Croatia|    12|     GK|      KALINIC Lovre|   L. KALINIĆ|      KAA Gent (BEL)|   201|  96|    1990|      03|      04|1990-04-03|  1|
|       Denmark|     3|     DF| VESTERGAARD Jannik|  VESTERGAARD|VfL Borussia Mönc...|   200|  98|    1992|      03|      08|1992-08-03|  1|
|         Egypt|     6|     DF|       AHMED HEGAZY|    A. HEGAZY|West Bromwich Alb...|   194|  95|    1991|      25|      01|1991-01-25|  1|
|       England|    13|     GK|       BUTLAND Jack|      BUTLAND| Stoke City FC (ENG)|   196|  96|    1993|      10|      03|1993-03-10|  1|
|        France|    15|     MF|      NZONZI Steven|       NZONZI|    Sevilla FC (ESP)|   197|  87|    1988|      15|      12|1988-12-15|  1|
|       Germany|    15|     DF|       SUELE Niklas|         SÜLE|FC Bayern München...|   195|  89|    1995|      03|      09|1995-09-03|  1|
|       IR Iran|     1|     GK|     BEIRANVAND Ali|A. BEIRANVAND| Persepolis FC (IRN)|   194|  85|    1992|      21|      09|1992-09-21|  1|
|       Iceland|    12|     GK|    SCHRAM Frederik|       SCHRAM|   Roskilde BK (DEN)|   198|  92|    1995|      19|      01|1995-01-19|  1|
|         Japan|    22|     DF|       YOSHIDA Maya|      YOSHIDA|Southampton FC (ENG)|   189|  78|    1988|      24|      08|1988-08-24|  1|
|Korea Republic|     9|     FW|       KIM Shinwook|      S W KIM|Jeonbuk Hyundai (...|   197|  97|    1988|      14|      04|1988-04-14|  1|
|        Mexico|     5|     DF|        REYES Diego|     D. REYES|      FC Porto (POR)|   190|  77|    1992|      19|      09|1992-09-19|  1|
|       Morocco|     6|     DF|       SAISS Romain|        SAISS|Wolverhampton Wan...|   190|  76|    1990|      26|      03|1990-03-26|  1|
|       Nigeria|    13|     FW|     NWANKWO Simeon|      NWANKWO|    FC Crotone (ITA)|   197|  89|    1992|      07|      05|1992-05-07|  1|
|        Panama|    22|     GK|     RODRIGUEZ Alex|    RODRIGUEZ|San Francisco FC ...|   197|  83|    1990|      05|      08|1990-08-05|  1|
|          Peru|     1|     GK|      GALLESE Pedro|      GALLESE|CD Tiburones Rojo...|   189|  79|    1990|      23|      02|1990-02-23|  1|
|        Poland|     1|     GK|  SZCZESNY Wojciech|     SZCZESNY|   Juventus FC (ITA)|   195|  84|    1990|      18|      04|1990-04-18|  1|
|      Portugal|     6|     DF|         JOSE FONTE|        FONTE|Dalian Yifang FC ...|   191|  84|    1983|      22|      12|1983-12-22|  1|
|        Russia|    22|     FW|       DZYUBA Artem|       DZYUBA|FC Arsenal Tula (...|   196|  90|    1988|      22|      08|1988-08-22|  1|
|  Saudi Arabia|    12|     MF|      MOHAMED KANNO|        KANNO|  Al Hilal SFC (KSA)|   192|  73|    1994|      22|      09|1994-09-22|  1|
|       Senegal|    23|     GK|       GOMIS Alfred|        GOMIS|  SPAL Ferrara (ITA)|   196|  80|    1993|      05|      09|1993-09-05|  1|
|        Serbia|    15|     DF|  MILENKOVIC Nikola|   MILENKOVIĆ|ACF Fiorentina (ITA)|   195|  90|    1997|      12|      10|1997-10-12|  1|
|         Spain|     3|     DF|       PIQUE Gerard|        PIQUÉ|  FC Barcelona (ESP)|   194|  85|    1987|      02|      02|1987-02-02|  1|
|        Sweden|     1|     GK|        OLSEN Robin|        OLSEN|  FC Kobenhavn (DEN)|   198|  89|    1990|      08|      01|1990-01-08|  1|
|   Switzerland|    20|     DF|      DJOUROU Johan|      DJOUROU|Antalyaspor AS (TUR)|   192|  90|    1987|      18|      01|1987-01-18|  1|
|       Tunisia|     1|     GK|BEN MUSTAPHA Farouk| BEN MUSTAPHA|  Al Shabab FC (KSA)|   192|  85|    1989|      01|      07|1989-07-01|  1|
|       Uruguay|    19|     DF|   COATES Sebastian|       COATES|   Sporting CP (POR)|   196|  89|    1990|      07|      10|1990-10-07|  1|
+--------------+------+-------+-------------------+-------------+--------------------+------+----+--------+--------+--------+----------+---+

# Describe

In [74]:
df.describe().show()

+-------+---------+-----------------+-------+------------+-----------+--------------------+-----------------+-----------------+------------------+------------------+------------------+
|summary|  selecao|           numero|posicao|   nome_fifa|nome_camisa|                time|           altura|             peso|          ano_nasc|          dia_nasc|          mes_nasc|
+-------+---------+-----------------+-------+------------+-----------+--------------------+-----------------+-----------------+------------------+------------------+------------------+
|  count|      736|              736|    736|         736|        736|                 736|              736|              736|               736|               736|               736|
|   mean|     NULL|             12.0|   NULL|        NULL|       NULL|                NULL|182.4076086956522|77.18885869565217| 1990.110054347826|15.793478260869565|5.8790760869565215|
| stddev|     NULL|6.637760461599851|   NULL|        NULL|       NULL|                NULL|6.930924233929302|7.233778346883639|3.9074472063626775| 8.761123828732469|3.3782493094684387|
|    min|Argentina|                1|     DF|ABDALLA SAID|  A. ASHRAF|    1. FC Köln (GER)|              165|               59|              1973|                01|                01|
|    max|  Uruguay|               23|     MF|ZUBER Steven|   ŽIVKOVIĆ|Étoile du Sahel (...|              201|               99|              1999|                31|                12|
+-------+---------+-----------------+-------+------------+-----------+--------------------+-----------------+-----------------+------------------+------------------+------------------+

In [75]:
df.where('selecao = "Brazil"').describe().show(50)

+-------+-------+-----------------+-------+---------+-----------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|selecao|           numero|posicao|nome_fifa|nome_camisa|                time|           altura|             peso|         ano_nasc|         dia_nasc|         mes_nasc|
+-------+-------+-----------------+-------+---------+-----------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|     23|               23|     23|       23|         23|                  23|               23|               23|               23|               23|               23|
|   mean|   NULL|             12.0|   NULL|     NULL|       NULL|                NULL|180.7826086956522|76.56521739130434|1989.391304347826|11.26086956521739|6.130434782608695|
| stddev|   NULL|6.782329983125267|   NULL|     NULL|       NULL|                NULL|7.354383490255254|8.239737898283606|3.499858833968506|6.876953549252538|2.784769418006175|
|    min| Brazil|                1|     DF|  ALISSON|  A. BECKER|       AS Roma (ITA)|              168|               64|             1984|               02|               01|
|    max| Brazil|               23|     MF|  WILLIAN|    WILLIAN|SC Corinthians (BRA)|              195|               92|             1997|               25|               10|
+-------+-------+-----------------+-------+---------+-----------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

# Função de agregação usando Window Function

In [76]:
parametro = Window.partitionBy('selecao').orderBy(desc('altura'))
parametro2 = Window.partitionBy('selecao')

df.withColumn('linhax', row_number().over(parametro))\
.withColumn('media', avg('altura').over(parametro2))\
.withColumn('maximo', max('altura').over(parametro2))\
.withColumn('minimo', min('altura').over(parametro2))\
.filter('linhax = "1"').select('selecao', 'media', 'maximo', 'minimo')\
.orderBy('media', ascending = False).show(50)

+--------------+------------------+------+------+
|       selecao|             media|maximo|minimo|
+--------------+------------------+------+------+
|        Serbia|186.69565217391303|   195|   169|
|       Denmark| 186.6086956521739|   200|   171|
|       Germany| 185.7826086956522|   195|   176|
|        Sweden| 185.7391304347826|   198|   177|
|       Iceland|185.52173913043478|   198|   170|
|       Belgium|185.34782608695653|   199|   169|
|       Croatia| 185.2608695652174|   201|   172|
|       Nigeria|184.52173913043478|   197|   172|
|       IR Iran|184.47826086956522|   194|   177|
|        Russia| 184.3913043478261|   196|   173|
|       Senegal|183.65217391304347|   196|   173|
|        France|183.30434782608697|   197|   168|
|        Poland|183.17391304347825|   195|   172|
|       Tunisia|183.08695652173913|   192|   170|
|   Switzerland|182.91304347826087|   192|   165|
|       England| 182.7391304347826|   196|   170|
|       Morocco|182.69565217391303|   190|   167|
|        Panama|182.17391304347825|   197|   165|
|Korea Republic| 181.8695652173913|   197|   170|
|       Uruguay|181.04347826086956|   196|   168|
|         Egypt|             181.0|   194|   169|
|     Australia| 180.8695652173913|   193|   169|
|        Brazil| 180.7826086956522|   195|   168|
|      Colombia| 180.7826086956522|   194|   169|
|    Costa Rica|180.69565217391303|   196|   172|
|         Spain|179.91304347826087|   194|   170|
|        Mexico| 179.7826086956522|   190|   166|
|      Portugal| 179.7391304347826|   191|   168|
|         Japan| 178.7826086956522|   189|   168|
|     Argentina|178.43478260869566|   199|   167|
|  Saudi Arabia|177.65217391304347|   192|   165|
|          Peru| 177.6086956521739|   189|   169|
+--------------+------------------+------+------+

# Aula 3

# Distinct

In [87]:
# df.select('selecao').distinct().show()
df.select(col('selecao')).distinct().show(50)

+--------------+
|       selecao|
+--------------+
|        Russia|
|       Senegal|
|        Sweden|
|       IR Iran|
|       Germany|
|        France|
|     Argentina|
|       Belgium|
|          Peru|
|       Croatia|
|       Nigeria|
|Korea Republic|
|         Spain|
|       Denmark|
|       Morocco|
|        Panama|
|       Iceland|
|       Uruguay|
|        Mexico|
|       Tunisia|
|  Saudi Arabia|
|   Switzerland|
|        Brazil|
|         Japan|
|       England|
|        Poland|
|      Portugal|
|     Australia|
|    Costa Rica|
|         Egypt|
|        Serbia|
|      Colombia|
+--------------+

# Collect()

In [88]:
# collect entrega a linha e não o dado da célula
df.select(col('selecao')).distinct().collect()

[Row(selecao='Russia'),
 Row(selecao='Senegal'),
 Row(selecao='Sweden'),
 Row(selecao='IR Iran'),
 Row(selecao='Germany'),
 Row(selecao='France'),
 Row(selecao='Argentina'),
 Row(selecao='Belgium'),
 Row(selecao='Peru'),
 Row(selecao='Croatia'),
 Row(selecao='Nigeria'),
 Row(selecao='Korea Republic'),
 Row(selecao='Spain'),
 Row(selecao='Denmark'),
 Row(selecao='Morocco'),
 Row(selecao='Panama'),
 Row(selecao='Iceland'),
 Row(selecao='Uruguay'),
 Row(selecao='Mexico'),
 Row(selecao='Tunisia'),
 Row(selecao='Saudi Arabia'),
 Row(selecao='Switzerland'),
 Row(selecao='Brazil'),
 Row(selecao='Japan'),
 Row(selecao='England'),
 Row(selecao='Poland'),
 Row(selecao='Portugal'),
 Row(selecao='Australia'),
 Row(selecao='Costa Rica'),
 Row(selecao='Egypt'),
 Row(selecao='Serbia'),
 Row(selecao='Colombia')]

In [91]:
lista = df.select(col('selecao')).distinct().collect()
lista

[Row(selecao='Russia'),
 Row(selecao='Senegal'),
 Row(selecao='Sweden'),
 Row(selecao='IR Iran'),
 Row(selecao='Germany'),
 Row(selecao='France'),
 Row(selecao='Argentina'),
 Row(selecao='Belgium'),
 Row(selecao='Peru'),
 Row(selecao='Croatia'),
 Row(selecao='Nigeria'),
 Row(selecao='Korea Republic'),
 Row(selecao='Spain'),
 Row(selecao='Denmark'),
 Row(selecao='Morocco'),
 Row(selecao='Panama'),
 Row(selecao='Iceland'),
 Row(selecao='Uruguay'),
 Row(selecao='Mexico'),
 Row(selecao='Tunisia'),
 Row(selecao='Saudi Arabia'),
 Row(selecao='Switzerland'),
 Row(selecao='Brazil'),
 Row(selecao='Japan'),
 Row(selecao='England'),
 Row(selecao='Poland'),
 Row(selecao='Portugal'),
 Row(selecao='Australia'),
 Row(selecao='Costa Rica'),
 Row(selecao='Egypt'),
 Row(selecao='Serbia'),
 Row(selecao='Colombia')]

In [95]:
lista[0][0]

'Russia'

In [94]:
type(lista[0][0])

str

In [97]:
paises = []
for pais in lista:
    paises.append(pais[0])

paises

['Russia',
 'Senegal',
 'Sweden',
 'IR Iran',
 'Germany',
 'France',
 'Argentina',
 'Belgium',
 'Peru',
 'Croatia',
 'Nigeria',
 'Korea Republic',
 'Spain',
 'Denmark',
 'Morocco',
 'Panama',
 'Iceland',
 'Uruguay',
 'Mexico',
 'Tunisia',
 'Saudi Arabia',
 'Switzerland',
 'Brazil',
 'Japan',
 'England',
 'Poland',
 'Portugal',
 'Australia',
 'Costa Rica',
 'Egypt',
 'Serbia',
 'Colombia']

# when() / otherwise()

In [100]:
# criar uma coluna baseado em outra coluna
df.withColumn('coluna_nova', when(col('selecao') == "Argentina", 'Argentinos').otherwise('não argentinos')).show(50)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+--------------+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|   coluna_nova|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+--------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31|    Argentinos|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21|    Argentinos|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15|    Argentinos|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13|    Argentinos|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24|    Argentinos|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20|    Argentinos|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30|    Argentinos|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29|    Argentinos|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08|    Argentinos|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15|    Argentinos|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02|    Argentinos|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10|    Argentinos|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14|    Argentinos|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09|    Argentinos|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15|    Argentinos|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28|    Argentinos|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28|    Argentinos|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18|    Argentinos|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12|    Argentinos|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20|    Argentinos|
|Argentina|     6|     DF|    FAZIO Federico|      FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17|    Argentinos|
|Argentina|    12|     GK|     ARMANI Franco|     ARMANI|CA River Plate (ARG)|   189|  85|    1986|      16|      10|1986-10-16|    Argentinos|
|Argentina|     1|     GK|     GUZMAN Nahuel|     GUZMÁN|   Tigres UANL (MEX)|   192|  90|    1986|      10|      02|1986-02-10|    Argentinos|
|Australia|    16|     DF|       BEHICH Aziz|     BEHICH|     Bursaspor (TUR)|   170|  63|    1990|      16|      12|1990-12-16|não argentinos|
|Australia|    10|     FW|      KRUSE Robbie|      KRUSE|    VfL Bochum (GER)|   180|  66|    1988|      05|      10|1988-10-05|não argentinos|
|Australia|    19|     DF|     RISDON Joshua|     RISDON|WS Wanderers FC (...|   169|  70|    1992|      27|      07|1992-07-27|não argentinos|
|Australia|     3|     DF|    MEREDITH James|   MEREDITH|   Millwall FC (ENG)|   179|  71|    1988|      05|      04|1988-04-05|não argentinos|
|Australia|    13|     MF|        MOOY Aaron|       MOOY|Huddersfield Town...|   173|  72|    1990|      15|      09|1990-09-15|não argentinos|
|Australia|    14|     FW|    MacLAREN Jamie|   MACLAREN|  Hibernian FC (SCO)|   178|  72|    1993|      29|      07|1993-07-29|não argentinos|
|Australia|    21|     FW|PETRATOS Dimitrios|   PETRATOS|Newcastle United ...|   176|  72|    1992|      10|      11|1992-11-10|não argentinos|
|Australia|    17|     FW|     ARZANI Daniel|     ARZANI|Melbourne City FC...|   171|  73|    1999|      04|      01|1999-01-04|não argentinos|
|Australia|     4|     FW|        CAHILL Tim|     CAHILL|   Millwall FC (ENG)|   180|  76|    1979|      06|      12|1979-12-06|não argentinos|
|Australia|     8|     MF|    LUONGO Massimo|     LUONGO|Queens Park Range...|   176|  76|    1992|      25|      09|1992-09-25|não argentinos|
|Australia|    20|     DF|   SAINSBURY Trent|  SAINSBURY|Grasshopper Club ...|   183|  76|    1992|      05|      01|1992-01-05|não argentinos|
|Australia|    22|     MF|    IRVINE Jackson|     IRVINE|  Hull City FC (ENG)|   180|  77|    1993|      07|      03|1993-03-07|não argentinos|
|Australia|     5|     DF|     MILLIGAN Mark|   MILLIGAN|    Al Ahli SC (KSA)|   178|  78|    1985|      04|      08|1985-08-04|não argentinos|
|Australia|    15|     MF|      JEDINAK Mile|    JEDINAK|Aston Villa FC (ENG)|   188|  78|    1984|      03|      08|1984-08-03|não argentinos|
|Australia|     9|     FW|        JURIC Tomi|      JURIC|     FC Luzern (SUI)|   190|  80|    1991|      22|      07|1991-07-22|não argentinos|
|Australia|     1|     GK|       RYAN Mathew|       RYAN|Brighton & Hove A...|   184|  82|    1992|      08|      04|1992-04-08|não argentinos|
|Australia|     6|     DF|    JURMAN Matthew|     JURMAN|Suwon Samsung Blu...|   190|  83|    1989|      08|      12|1989-12-08|não argentinos|
|Australia|     7|     FW|     LECKIE Mathew|     LECKIE|    Hertha BSC (GER)|   181|  84|    1991|      04|      02|1991-02-04|não argentinos|
|Australia|     2|     DF|     DEGENEK Milos|    DEGENEK|Yokohama F-Marino...|   187|  85|    1994|      28|      04|1994-04-28|não argentinos|
|Australia|    11|     FW|    NABBOUT Andrew|    NABBOUT|    Urawa Reds (JPN)|   178|  85|    1992|      17|      12|1992-12-17|não argentinos|
|Australia|    12|     GK|        JONES Brad|      JONES|Feyenoord Rotterd...|   193|  87|    1982|      19|      03|1982-03-19|não argentinos|
|Australia|    23|     MF|         ROGIC Tom|      ROGIC|     Celtic FC (SCO)|   189|  88|    1992|      16|      12|1992-12-16|não argentinos|
|Australia|    18|     GK|     VUKOVIC Danny|    VUKOVIC|      KRC Genk (BEL)|   187|  94|    1985|      27|      03|1985-03-27|não argentinos|
|  Belgium|    14|     FW|     MERTENS Dries|    MERTENS|    SSC Napoli (ITA)|   169|  61|    1987|      06|      05|1987-05-06|não argentinos|
|  Belgium|    11|     MF|  CARRASCO Yannick|   CARRASCO|Dalian Yifang FC ...|   180|  67|    1993|      04|      09|1993-09-04|não argentinos|
|  Belgium|     7|     MF|   DE BRUYNE Kevin|  DE BRUYNE|Manchester City F...|   181|  70|    1991|      28|      06|1991-06-28|não argentinos|
|  Belgium|    16|     MF|    HAZARD Thorgan|  T. HAZARD|VfL Borussia Mönc...|   174|  70|    1993|      29|      03|1993-03-29|não argentinos|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+--------------+
only showing top 50 rows

In [112]:
# criando uma nova coluna chamada continente levando em consideração as litas dos países
europa = ['Sweden', 'Germany', 'France', 'Belgium', 'Croatia', 'Spain', 'Denmark', 'Iceland', 'Switzerland', 'England', 'Poland', 'Portugal', 'Serbia']
asia = ['Russia', 'IR Iran', 'Nigeria', 'Korea Republic', 'Saudi Arabia', 'Japan', ]
africa = ['Senegal', 'Morocco', 'Tunisia', 'Egypt']
oceania = ['Australia']
america_norte = ['Panama', 'Mexico', 'Costa Rica']
america_sul = ['Peru', 'Uruguay', 'Brazil', 'Colombia']

In [113]:
df = df.withColumn('continente', when(col('selecao').isin(europa), 'Europa')\
             .when(col('selecao').isin(asia), 'Ásia')\
             .when(col('selecao').isin(africa), 'África')\
             .when(col('selecao').isin(oceania), 'Oceania')\
             .when(col('selecao').isin(america_norte), 'América do Norte')\
             .when(col('selecao').isin(america_sul), 'América do Sul')\
             .otherwise('verificar'))
df.show(5)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----------+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|continente|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31| verificar|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21| verificar|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15| verificar|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13| verificar|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24| verificar|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----------+
only showing top 5 rows

In [114]:
df.filter('continente = "verificar"').show(50)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----------+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|continente|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31| verificar|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21| verificar|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15| verificar|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13| verificar|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24| verificar|
|Argentina|     4|     DF|  ANSALDI Cristian|    ANSALDI|     Torino FC (ITA)|   181|  73|    1986|      20|      09|1986-09-20| verificar|
|Argentina|     5|     MF|      BIGLIA Lucas|     BIGLIA|      AC Milan (ITA)|   175|  73|    1986|      30|      01|1986-01-30| verificar|
|Argentina|     7|     MF|       BANEGA Ever|     BANEGA|    Sevilla FC (ESP)|   175|  73|    1988|      29|      06|1988-06-29| verificar|
|Argentina|    14|     DF| MASCHERANO Javier| MASCHERANO|Hebei China Fortu...|   174|  73|    1984|      08|      06|1984-06-08| verificar|
|Argentina|    21|     FW|      DYBALA Paulo|     DYBALA|   Juventus FC (ITA)|   177|  73|    1993|      15|      11|1993-11-15| verificar|
|Argentina|    19|     FW|     AGUERO Sergio|     AGÜERO|Manchester City F...|   172|  74|    1988|      02|      06|1988-06-02| verificar|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|    HIGUAÍN|   Juventus FC (ITA)|   184|  75|    1987|      10|      12|1987-12-10| verificar|
|Argentina|    11|     MF|    DI MARIA Angel|   DI MARÍA|Paris Saint-Germa...|   178|  75|    1988|      14|      02|1988-02-14| verificar|
|Argentina|    20|     MF|  LO CELSO Giovani|   LO CELSO|Paris Saint-Germa...|   177|  75|    1996|      09|      04|1996-04-09| verificar|
|Argentina|    13|     MF|  MEZA Maximiliano|       MEZA|CA Independiente ...|   180|  76|    1992|      15|      12|1992-12-15| verificar|
|Argentina|     8|     DF|      ACUNA Marcos|      ACUÑA|   Sporting CP (POR)|   172|  77|    1991|      28|      10|1991-10-28| verificar|
|Argentina|    23|     GK|CABALLERO Wilfredo|  CABALLERO|    Chelsea FC (ENG)|   186|  80|    1981|      28|      09|1981-09-28| verificar|
|Argentina|     2|     DF|   MERCADO Gabriel|    MERCADO|    Sevilla FC (ESP)|   181|  81|    1987|      18|      03|1987-03-18| verificar|
|Argentina|    17|     DF|  OTAMENDI Nicolas|   OTAMENDI|Manchester City F...|   181|  81|    1988|      12|      02|1988-02-12| verificar|
|Argentina|    16|     DF|       ROJO Marcos|       ROJO|Manchester United...|   189|  82|    1990|      20|      03|1990-03-20| verificar|
|Argentina|     6|     DF|    FAZIO Federico|      FAZIO|       AS Roma (ITA)|   199|  85|    1987|      17|      03|1987-03-17| verificar|
|Argentina|    12|     GK|     ARMANI Franco|     ARMANI|CA River Plate (ARG)|   189|  85|    1986|      16|      10|1986-10-16| verificar|
|Argentina|     1|     GK|     GUZMAN Nahuel|     GUZMÁN|   Tigres UANL (MEX)|   192|  90|    1986|      10|      02|1986-02-10| verificar|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----------+

# union (concat do Pandas)

In [122]:
# separar em dois dataframes só para fazer o exemplo, porém, o ideal é ter dois arquivos distintos para fazer o union
df_america_sul = df.filter('continente = "América do Sul"')
df_america_sul.select(col('selecao')).distinct().show()

+--------+
| selecao|
+--------+
|    Peru|
| Uruguay|
|  Brazil|
|Colombia|
+--------+

In [124]:
df_america_norte = df.filter('continente = "América do Norte"')
df_america_norte.select(col('selecao')).distinct().show()

+----------+
|   selecao|
+----------+
|    Panama|
|    Mexico|
|Costa Rica|
+----------+

In [134]:
df_americas = df_america_sul.union(df_america_norte)
df_americas.select(col('continente'), col('selecao')).distinct().show()

+----------------+----------+
|      continente|   selecao|
+----------------+----------+
|  América do Sul|   Uruguay|
|  América do Sul|      Peru|
|  América do Sul|  Colombia|
|  América do Sul|    Brazil|
|América do Norte|    Panama|
|América do Norte|Costa Rica|
|América do Norte|    Mexico|
+----------------+----------+

# Joins

In [135]:
df.show(5)

+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----------+
|  selecao|numero|posicao|         nome_fifa|nome_camisa|                time|altura|peso|ano_nasc|dia_nasc|mes_nasc|nascimento|continente|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas| TAGLIAFICO|      AFC Ajax (NED)|   169|  65|    1992|      31|      08|1992-08-31| verificar|
|Argentina|    22|     MF|    PAVON Cristian|      PAVÓN|CA Boca Juniors (...|   169|  65|    1996|      21|      01|1996-01-21| verificar|
|Argentina|    15|     MF|    LANZINI Manuel|    LANZINI|West Ham United F...|   167|  66|    1993|      15|      02|1993-02-15| verificar|
|Argentina|    18|     DF|    SALVIO Eduardo|     SALVIO|    SL Benfica (POR)|   167|  69|    1990|      13|      07|1990-07-13| verificar|
|Argentina|    10|     FW|      MESSI Lionel|      MESSI|  FC Barcelona (ESP)|   170|  72|    1987|      24|      06|1987-06-24| verificar|
+---------+------+-------+------------------+-----------+--------------------+------+----+--------+--------+--------+----------+----------+
only showing top 5 rows

In [136]:
arg = df.filter('selecao = "Argentina"')
bra = df.filter('selecao = "Brazil"')

In [139]:
arg = arg.drop('nome_fifa', 'time', 'dia_nasc', 'mes_nasc', 'ano_nasc', 'continente', 'peso', 'nascimento')
bra = bra.drop('nome_fifa', 'time', 'dia_nasc', 'mes_nasc', 'ano_nasc', 'continente', 'peso', 'nascimento')

In [140]:
arg.show()

+---------+------+-------+-----------+------+
|  selecao|numero|posicao|nome_camisa|altura|
+---------+------+-------+-----------+------+
|Argentina|     3|     DF| TAGLIAFICO|   169|
|Argentina|    22|     MF|      PAVÓN|   169|
|Argentina|    15|     MF|    LANZINI|   167|
|Argentina|    18|     DF|     SALVIO|   167|
|Argentina|    10|     FW|      MESSI|   170|
|Argentina|     4|     DF|    ANSALDI|   181|
|Argentina|     5|     MF|     BIGLIA|   175|
|Argentina|     7|     MF|     BANEGA|   175|
|Argentina|    14|     DF| MASCHERANO|   174|
|Argentina|    21|     FW|     DYBALA|   177|
|Argentina|    19|     FW|     AGÜERO|   172|
|Argentina|     9|     FW|    HIGUAÍN|   184|
|Argentina|    11|     MF|   DI MARÍA|   178|
|Argentina|    20|     MF|   LO CELSO|   177|
|Argentina|    13|     MF|       MEZA|   180|
|Argentina|     8|     DF|      ACUÑA|   172|
|Argentina|    23|     GK|  CABALLERO|   186|
|Argentina|     2|     DF|    MERCADO|   181|
|Argentina|    17|     DF|   OTAMENDI|   181|
|Argentina|    16|     DF|       ROJO|   189|
+---------+------+-------+-----------+------+
only showing top 20 rows

In [141]:
bra.show()

+-------+------+-------+-----------+------+
|selecao|numero|posicao|nome_camisa|altura|
+-------+------+-------+-----------+------+
| Brazil|    18|     MF|       FRED|   169|
| Brazil|    21|     FW|     TAISON|   172|
| Brazil|    17|     MF|FERNANDINHO|   179|
| Brazil|    22|     DF|     FAGNER|   168|
| Brazil|    10|     FW|  NEYMAR JR|   175|
| Brazil|    11|     MF|P. COUTINHO|   172|
| Brazil|     7|     FW|   D. COSTA|   182|
| Brazil|     6|     DF|FILIPE LUIS|   182|
| Brazil|     9|     FW|   G. JESUS|   175|
| Brazil|    13|     DF| MARQUINHOS|   183|
| Brazil|    20|     FW|    FIRMINO|   181|
| Brazil|    19|     MF|    WILLIAN|   175|
| Brazil|     3|     DF|    MIRANDA|   186|
| Brazil|    14|     DF|     DANILO|   184|
| Brazil|     2|     DF|   T. SILVA|   183|
| Brazil|    12|     DF|    MARCELO|   174|
| Brazil|    15|     MF|   PAULINHO|   181|
| Brazil|     4|     DF|    GEROMEL|   190|
| Brazil|     5|     MF|   CASEMIRO|   185|
| Brazil|     8|     MF| R. AUGUSTO|   186|
+-------+------+-------+-----------+------+
only showing top 20 rows

In [142]:
bra.count()

23

# Join Simples

In [147]:
# Dados dos joins 100% correspondentes unindo pelo numero
df_novo = arg.join(bra, arg.numero == bra.numero)
df_novo.show()

+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|  selecao|numero|posicao|nome_camisa|altura|selecao|numero|posicao|nome_camisa|altura|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|Argentina|     3|     DF| TAGLIAFICO|   169| Brazil|     3|     DF|    MIRANDA|   186|
|Argentina|    22|     MF|      PAVÓN|   169| Brazil|    22|     DF|     FAGNER|   168|
|Argentina|    15|     MF|    LANZINI|   167| Brazil|    15|     MF|   PAULINHO|   181|
|Argentina|    18|     DF|     SALVIO|   167| Brazil|    18|     MF|       FRED|   169|
|Argentina|    10|     FW|      MESSI|   170| Brazil|    10|     FW|  NEYMAR JR|   175|
|Argentina|     4|     DF|    ANSALDI|   181| Brazil|     4|     DF|    GEROMEL|   190|
|Argentina|     5|     MF|     BIGLIA|   175| Brazil|     5|     MF|   CASEMIRO|   185|
|Argentina|     7|     MF|     BANEGA|   175| Brazil|     7|     FW|   D. COSTA|   182|
|Argentina|    14|     DF| MASCHERANO|   174| Brazil|    14|     DF|     DANILO|   184|
|Argentina|    21|     FW|     DYBALA|   177| Brazil|    21|     FW|     TAISON|   172|
|Argentina|    19|     FW|     AGÜERO|   172| Brazil|    19|     MF|    WILLIAN|   175|
|Argentina|     9|     FW|    HIGUAÍN|   184| Brazil|     9|     FW|   G. JESUS|   175|
|Argentina|    11|     MF|   DI MARÍA|   178| Brazil|    11|     MF|P. COUTINHO|   172|
|Argentina|    20|     MF|   LO CELSO|   177| Brazil|    20|     FW|    FIRMINO|   181|
|Argentina|    13|     MF|       MEZA|   180| Brazil|    13|     DF| MARQUINHOS|   183|
|Argentina|     8|     DF|      ACUÑA|   172| Brazil|     8|     MF| R. AUGUSTO|   186|
|Argentina|    23|     GK|  CABALLERO|   186| Brazil|    23|     GK|    EDERSON|   188|
|Argentina|     2|     DF|    MERCADO|   181| Brazil|     2|     DF|   T. SILVA|   183|
|Argentina|    17|     DF|   OTAMENDI|   181| Brazil|    17|     MF|FERNANDINHO|   179|
|Argentina|    16|     DF|       ROJO|   189| Brazil|    16|     GK|     CASSIO|   195|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
only showing top 20 rows

In [151]:
# alterando os dados do dataframe da argentina para mostrar os demais joins
arg = arg.withColumn('numero', col('numero') + 1)
arg.show(25)

+---------+------+-------+-----------+------+
|  selecao|numero|posicao|nome_camisa|altura|
+---------+------+-------+-----------+------+
|Argentina|     6|     DF| TAGLIAFICO|   169|
|Argentina|    25|     MF|      PAVÓN|   169|
|Argentina|    18|     MF|    LANZINI|   167|
|Argentina|    21|     DF|     SALVIO|   167|
|Argentina|    13|     FW|      MESSI|   170|
|Argentina|     7|     DF|    ANSALDI|   181|
|Argentina|     8|     MF|     BIGLIA|   175|
|Argentina|    10|     MF|     BANEGA|   175|
|Argentina|    17|     DF| MASCHERANO|   174|
|Argentina|    24|     FW|     DYBALA|   177|
|Argentina|    22|     FW|     AGÜERO|   172|
|Argentina|    12|     FW|    HIGUAÍN|   184|
|Argentina|    14|     MF|   DI MARÍA|   178|
|Argentina|    23|     MF|   LO CELSO|   177|
|Argentina|    16|     MF|       MEZA|   180|
|Argentina|    11|     DF|      ACUÑA|   172|
|Argentina|    26|     GK|  CABALLERO|   186|
|Argentina|     5|     DF|    MERCADO|   181|
|Argentina|    20|     DF|   OTAMENDI|   181|
|Argentina|    19|     DF|       ROJO|   189|
|Argentina|     9|     DF|      FAZIO|   199|
|Argentina|    15|     GK|     ARMANI|   189|
|Argentina|     4|     GK|     GUZMÁN|   192|
+---------+------+-------+-----------+------+

# Inner Join

In [153]:
# mostra só os dados que tem correspondência
df_novo = arg.join(bra, arg['numero'] == bra['numero'], 'inner')
df_novo.show()

+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|  selecao|numero|posicao|nome_camisa|altura|selecao|numero|posicao|nome_camisa|altura|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|Argentina|     6|     DF| TAGLIAFICO|   169| Brazil|     6|     DF|FILIPE LUIS|   182|
|Argentina|    18|     MF|    LANZINI|   167| Brazil|    18|     MF|       FRED|   169|
|Argentina|    21|     DF|     SALVIO|   167| Brazil|    21|     FW|     TAISON|   172|
|Argentina|    13|     FW|      MESSI|   170| Brazil|    13|     DF| MARQUINHOS|   183|
|Argentina|     7|     DF|    ANSALDI|   181| Brazil|     7|     FW|   D. COSTA|   182|
|Argentina|     8|     MF|     BIGLIA|   175| Brazil|     8|     MF| R. AUGUSTO|   186|
|Argentina|    10|     MF|     BANEGA|   175| Brazil|    10|     FW|  NEYMAR JR|   175|
|Argentina|    17|     DF| MASCHERANO|   174| Brazil|    17|     MF|FERNANDINHO|   179|
|Argentina|    22|     FW|     AGÜERO|   172| Brazil|    22|     DF|     FAGNER|   168|
|Argentina|    12|     FW|    HIGUAÍN|   184| Brazil|    12|     DF|    MARCELO|   174|
|Argentina|    14|     MF|   DI MARÍA|   178| Brazil|    14|     DF|     DANILO|   184|
|Argentina|    23|     MF|   LO CELSO|   177| Brazil|    23|     GK|    EDERSON|   188|
|Argentina|    16|     MF|       MEZA|   180| Brazil|    16|     GK|     CASSIO|   195|
|Argentina|    11|     DF|      ACUÑA|   172| Brazil|    11|     MF|P. COUTINHO|   172|
|Argentina|     5|     DF|    MERCADO|   181| Brazil|     5|     MF|   CASEMIRO|   185|
|Argentina|    20|     DF|   OTAMENDI|   181| Brazil|    20|     FW|    FIRMINO|   181|
|Argentina|    19|     DF|       ROJO|   189| Brazil|    19|     MF|    WILLIAN|   175|
|Argentina|     9|     DF|      FAZIO|   199| Brazil|     9|     FW|   G. JESUS|   175|
|Argentina|    15|     GK|     ARMANI|   189| Brazil|    15|     MF|   PAULINHO|   181|
|Argentina|     4|     GK|     GUZMÁN|   192| Brazil|     4|     DF|    GEROMEL|   190|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+

# left join

In [156]:
# Mostra todos os dados do DF do lado ESQUERDO
# (valores do lado dir que não tiverem correspondências, serão mostrados como nulos)

df_novo = arg.join(bra, arg['numero'] == bra['numero'], 'left')
df_novo.show(30)

+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|  selecao|numero|posicao|nome_camisa|altura|selecao|numero|posicao|nome_camisa|altura|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|Argentina|     6|     DF| TAGLIAFICO|   169| Brazil|     6|     DF|FILIPE LUIS|   182|
|Argentina|    25|     MF|      PAVÓN|   169|   NULL|  NULL|   NULL|       NULL|  NULL|
|Argentina|    18|     MF|    LANZINI|   167| Brazil|    18|     MF|       FRED|   169|
|Argentina|    21|     DF|     SALVIO|   167| Brazil|    21|     FW|     TAISON|   172|
|Argentina|    13|     FW|      MESSI|   170| Brazil|    13|     DF| MARQUINHOS|   183|
|Argentina|     7|     DF|    ANSALDI|   181| Brazil|     7|     FW|   D. COSTA|   182|
|Argentina|     8|     MF|     BIGLIA|   175| Brazil|     8|     MF| R. AUGUSTO|   186|
|Argentina|    10|     MF|     BANEGA|   175| Brazil|    10|     FW|  NEYMAR JR|   175|
|Argentina|    17|     DF| MASCHERANO|   174| Brazil|    17|     MF|FERNANDINHO|   179|
|Argentina|    24|     FW|     DYBALA|   177|   NULL|  NULL|   NULL|       NULL|  NULL|
|Argentina|    22|     FW|     AGÜERO|   172| Brazil|    22|     DF|     FAGNER|   168|
|Argentina|    12|     FW|    HIGUAÍN|   184| Brazil|    12|     DF|    MARCELO|   174|
|Argentina|    14|     MF|   DI MARÍA|   178| Brazil|    14|     DF|     DANILO|   184|
|Argentina|    23|     MF|   LO CELSO|   177| Brazil|    23|     GK|    EDERSON|   188|
|Argentina|    16|     MF|       MEZA|   180| Brazil|    16|     GK|     CASSIO|   195|
|Argentina|    11|     DF|      ACUÑA|   172| Brazil|    11|     MF|P. COUTINHO|   172|
|Argentina|    26|     GK|  CABALLERO|   186|   NULL|  NULL|   NULL|       NULL|  NULL|
|Argentina|     5|     DF|    MERCADO|   181| Brazil|     5|     MF|   CASEMIRO|   185|
|Argentina|    20|     DF|   OTAMENDI|   181| Brazil|    20|     FW|    FIRMINO|   181|
|Argentina|    19|     DF|       ROJO|   189| Brazil|    19|     MF|    WILLIAN|   175|
|Argentina|     9|     DF|      FAZIO|   199| Brazil|     9|     FW|   G. JESUS|   175|
|Argentina|    15|     GK|     ARMANI|   189| Brazil|    15|     MF|   PAULINHO|   181|
|Argentina|     4|     GK|     GUZMÁN|   192| Brazil|     4|     DF|    GEROMEL|   190|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+

# right join

In [159]:
# Mostra todos os dados do DF do lado DIREITO
# (valores do lado esquerdo que não tiverem correspondências, serão mostrados como nulos)

df_novo = arg.join(bra, arg['numero'] == bra['numero'], 'right')
df_novo.show(40)

+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|  selecao|numero|posicao|nome_camisa|altura|selecao|numero|posicao|nome_camisa|altura|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|Argentina|    18|     MF|    LANZINI|   167| Brazil|    18|     MF|       FRED|   169|
|Argentina|    21|     DF|     SALVIO|   167| Brazil|    21|     FW|     TAISON|   172|
|Argentina|    17|     DF| MASCHERANO|   174| Brazil|    17|     MF|FERNANDINHO|   179|
|Argentina|    22|     FW|     AGÜERO|   172| Brazil|    22|     DF|     FAGNER|   168|
|Argentina|    10|     MF|     BANEGA|   175| Brazil|    10|     FW|  NEYMAR JR|   175|
|Argentina|    11|     DF|      ACUÑA|   172| Brazil|    11|     MF|P. COUTINHO|   172|
|Argentina|     7|     DF|    ANSALDI|   181| Brazil|     7|     FW|   D. COSTA|   182|
|Argentina|     6|     DF| TAGLIAFICO|   169| Brazil|     6|     DF|FILIPE LUIS|   182|
|Argentina|     9|     DF|      FAZIO|   199| Brazil|     9|     FW|   G. JESUS|   175|
|Argentina|    13|     FW|      MESSI|   170| Brazil|    13|     DF| MARQUINHOS|   183|
|Argentina|    20|     DF|   OTAMENDI|   181| Brazil|    20|     FW|    FIRMINO|   181|
|Argentina|    19|     DF|       ROJO|   189| Brazil|    19|     MF|    WILLIAN|   175|
|     NULL|  NULL|   NULL|       NULL|  NULL| Brazil|     3|     DF|    MIRANDA|   186|
|Argentina|    14|     MF|   DI MARÍA|   178| Brazil|    14|     DF|     DANILO|   184|
|     NULL|  NULL|   NULL|       NULL|  NULL| Brazil|     2|     DF|   T. SILVA|   183|
|Argentina|    12|     FW|    HIGUAÍN|   184| Brazil|    12|     DF|    MARCELO|   174|
|Argentina|    15|     GK|     ARMANI|   189| Brazil|    15|     MF|   PAULINHO|   181|
|Argentina|     4|     GK|     GUZMÁN|   192| Brazil|     4|     DF|    GEROMEL|   190|
|Argentina|     5|     DF|    MERCADO|   181| Brazil|     5|     MF|   CASEMIRO|   185|
|Argentina|     8|     MF|     BIGLIA|   175| Brazil|     8|     MF| R. AUGUSTO|   186|
|Argentina|    23|     MF|   LO CELSO|   177| Brazil|    23|     GK|    EDERSON|   188|
|     NULL|  NULL|   NULL|       NULL|  NULL| Brazil|     1|     GK|  A. BECKER|   193|
|Argentina|    16|     MF|       MEZA|   180| Brazil|    16|     GK|     CASSIO|   195|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+

# full Join

In [160]:
# Será mostrado todas as linhas
# (valores que não corresponderem, serão mostrado como nulos em ambos os lados)

df_novo = arg.join(bra, arg['numero'] == bra['numero'], 'full')
df_novo.show(40)

+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|  selecao|numero|posicao|nome_camisa|altura|selecao|numero|posicao|nome_camisa|altura|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+
|     NULL|  NULL|   NULL|       NULL|  NULL| Brazil|     1|     GK|  A. BECKER|   193|
|     NULL|  NULL|   NULL|       NULL|  NULL| Brazil|     2|     DF|   T. SILVA|   183|
|     NULL|  NULL|   NULL|       NULL|  NULL| Brazil|     3|     DF|    MIRANDA|   186|
|Argentina|     4|     GK|     GUZMÁN|   192| Brazil|     4|     DF|    GEROMEL|   190|
|Argentina|     5|     DF|    MERCADO|   181| Brazil|     5|     MF|   CASEMIRO|   185|
|Argentina|     6|     DF| TAGLIAFICO|   169| Brazil|     6|     DF|FILIPE LUIS|   182|
|Argentina|     7|     DF|    ANSALDI|   181| Brazil|     7|     FW|   D. COSTA|   182|
|Argentina|     8|     MF|     BIGLIA|   175| Brazil|     8|     MF| R. AUGUSTO|   186|
|Argentina|     9|     DF|      FAZIO|   199| Brazil|     9|     FW|   G. JESUS|   175|
|Argentina|    10|     MF|     BANEGA|   175| Brazil|    10|     FW|  NEYMAR JR|   175|
|Argentina|    11|     DF|      ACUÑA|   172| Brazil|    11|     MF|P. COUTINHO|   172|
|Argentina|    12|     FW|    HIGUAÍN|   184| Brazil|    12|     DF|    MARCELO|   174|
|Argentina|    13|     FW|      MESSI|   170| Brazil|    13|     DF| MARQUINHOS|   183|
|Argentina|    14|     MF|   DI MARÍA|   178| Brazil|    14|     DF|     DANILO|   184|
|Argentina|    15|     GK|     ARMANI|   189| Brazil|    15|     MF|   PAULINHO|   181|
|Argentina|    16|     MF|       MEZA|   180| Brazil|    16|     GK|     CASSIO|   195|
|Argentina|    17|     DF| MASCHERANO|   174| Brazil|    17|     MF|FERNANDINHO|   179|
|Argentina|    18|     MF|    LANZINI|   167| Brazil|    18|     MF|       FRED|   169|
|Argentina|    19|     DF|       ROJO|   189| Brazil|    19|     MF|    WILLIAN|   175|
|Argentina|    20|     DF|   OTAMENDI|   181| Brazil|    20|     FW|    FIRMINO|   181|
|Argentina|    21|     DF|     SALVIO|   167| Brazil|    21|     FW|     TAISON|   172|
|Argentina|    22|     FW|     AGÜERO|   172| Brazil|    22|     DF|     FAGNER|   168|
|Argentina|    23|     MF|   LO CELSO|   177| Brazil|    23|     GK|    EDERSON|   188|
|Argentina|    24|     FW|     DYBALA|   177|   NULL|  NULL|   NULL|       NULL|  NULL|
|Argentina|    25|     MF|      PAVÓN|   169|   NULL|  NULL|   NULL|       NULL|  NULL|
|Argentina|    26|     GK|  CABALLERO|   186|   NULL|  NULL|   NULL|       NULL|  NULL|
+---------+------+-------+-----------+------+-------+------+-------+-----------+------+

# semi Join

In [161]:
# Similar ao INNER JOIN, porém apenas os dados do DataFrame esquerdo é mostrado
df_novo = bra.join(arg, arg['numero'] == bra['numero'], 'semi')
df_novo.show(40)

+-------+------+-------+-----------+------+
|selecao|numero|posicao|nome_camisa|altura|
+-------+------+-------+-----------+------+
| Brazil|    18|     MF|       FRED|   169|
| Brazil|    21|     FW|     TAISON|   172|
| Brazil|    17|     MF|FERNANDINHO|   179|
| Brazil|    22|     DF|     FAGNER|   168|
| Brazil|    10|     FW|  NEYMAR JR|   175|
| Brazil|    11|     MF|P. COUTINHO|   172|
| Brazil|     7|     FW|   D. COSTA|   182|
| Brazil|     6|     DF|FILIPE LUIS|   182|
| Brazil|     9|     FW|   G. JESUS|   175|
| Brazil|    13|     DF| MARQUINHOS|   183|
| Brazil|    20|     FW|    FIRMINO|   181|
| Brazil|    19|     MF|    WILLIAN|   175|
| Brazil|    14|     DF|     DANILO|   184|
| Brazil|    12|     DF|    MARCELO|   174|
| Brazil|    15|     MF|   PAULINHO|   181|
| Brazil|     4|     DF|    GEROMEL|   190|
| Brazil|     5|     MF|   CASEMIRO|   185|
| Brazil|     8|     MF| R. AUGUSTO|   186|
| Brazil|    23|     GK|    EDERSON|   188|
| Brazil|    16|     GK|     CASSIO|   195|
+-------+------+-------+-----------+------+

# Anti join

In [162]:
# Mostra os dados do DF do lado esquerdo que NÃO possuem correspondências

df_novo = arg.join(bra, arg['numero'] == bra['numero'], 'anti')
df_novo.show(40)

+---------+------+-------+-----------+------+
|  selecao|numero|posicao|nome_camisa|altura|
+---------+------+-------+-----------+------+
|Argentina|    25|     MF|      PAVÓN|   169|
|Argentina|    24|     FW|     DYBALA|   177|
|Argentina|    26|     GK|  CABALLERO|   186|
+---------+------+-------+-----------+------+